html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
table,
th,
td,
fieldset,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    font-family: "돋움", Dotum, Droid Sans, AppleSDGothicNeo, AppleGothic, Helvetica, Sans-serif;
}

/* 아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none; */
body,
input,
textarea,
select,
button {
    color: #585858;
    font-size: 12px;
    font-family: Dotum;
}

header,
footer,
nav,
aside,
section,
article {
    display: block;
}

fieldset,
img {
    border: 0;
}

img {
    -ms-interpolation-mode: bicubic !important;
    border: 0;
}

table {
    padding: 0;
    border-spacing: 0px;
    border: 0;
    border-collapse: collapse;
}

ul,
ol {
    list-style: none;
}

a {
    color: #585858;
    text-decoration: none;
}

a:link {
    color: #606060;
    text-decoration: none;
}

a:hover {
    color: #ffa172;
}

.clear {
    clear: both;
}
#bdrwrap{
    width: 1200px;

    box-sizing: border-box;
    margin: 0px auto;
}
#bdrwrap th{
   width: 200px;
    border-bottom: 1px solid black;
    padding: 10px 0px;
     background-color: antiquewhite;
}
#bdrwrap td{
    padding-left: 10px;
      border-bottom: 1px solid black;
}
#bdrwrap p{
    margin: 15px 0px;
    
}
#bdrwrap table{
    border: 2px solid black;
    
}
#bdrwrap span{
  margin-left: 700px;
}
#sub input{
    width: 120px;
    height: 30px;
    border-radius: 40px;
    
}
#sub{
    width: 100%;
}
#subma{
    margin: 20px auto;
   
    text-align: center;
}
#bdrwrap li{
    display: inline-block;
    margin-right: 10px;
}
#bdrwraplabel{
    margin-left: 5px;
}
.borderw *{
    font-size: 13px;
}
.h{
    font-size: 25px;
}
#bdrtextarea{
padding: 10px;
	
}  

