/* 크리에이터 파트 */
* {
    margin: 0px;
    padding: 0px;
}

/* LecFlyN.html 공통 */
.margin_top10px {
    margin-Top:10px;
}

.margin_top20px {
    margin-Top:20px;
}

.margin_top24px {
    margin-Top:24px;
}

.margin_top26px {
    margin-Top:26px;
}

.margin_top30px {
    margin-Top:30px;
}

.margin_top54px {
    margin-Top: 54px;
}

.margin_bottom30px {
    margin-bottom: 30px;
}

.margin_left12px {
    margin-left:12px;
}
.margin_left18px {
    margin-left:18px;
}

.margin_left30px{
    margin-left: 30px;
}

.margin_left248px {
    margin-left:248px;
}
.margin_left430px {
    margin-left:430px;
}

.border1px_solid_black_div {
    border: 1px solid black;
}

.border2px_solid_black_div {
    border: 2px solid black;
}

.position_relative_div {
    position: relative;
}
.position_relative_span {
    position: relative;
}

.display_inline_block_div {
    display: inline-block;
}
.display_inline_grid_div {
    display: inline-grid;
}

.width706px_height230px_div {
    width: 706px;
    height: 230px;
}


.min_width1020px_min_height700px_margin_left30px{
    min-width: 1020px;
    min-height: 700px;
    margin-left: 30px;
    margin-top: 15px;
}

.color_white {
    color:white;
}

.h3 {
    font-size: 16px;
    font-weight: bold;
}


.header_sub_title_h3 {
    margin-left: 15px;
}

.main_cont_div {
    width: 900px;
    margin: 0px 0px 0px auto;
}







            /* _createcenter_nave.html */
#createcenter_nav {
    width: 150px;
    height: 648px;
    background-color: #f0efef;
    padding-top: 50px;
}

.createcenter_nav_btn {
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.createcenter_nav_btn a {
    text-decoration: none;
    color: black;
    margin-bottom: 4px;
}

            /* _myclass.html*/

.myclass_img_div {
    width: 210px;
    height: 172px;
}

.myclass_img {
    width: 210px;
    height: 172px;
}

.myclass_des_div{
    top: -154px;
}

.myclass_samll_radius_div {
    width: 86px;
    height: 18px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    font-size: 12px;
    line-height: 18px;
    margin-right: 6px;
    margin-top: 4px;
}

.myclass_modify_div {
    top: -40px;
    margin-left: 346px;
    background-color: black;
    color: white;
}

.myclass_confirm_div, .myclass_video_no_end_div, .myclass_sellkit_div {
    top: -20px;
    color: white;
    background-color: green;
}

.myclass_typing_div {
    top: -20px;
    color: white;
    background-color: gold;
}

.myclass_punding_div {
    top: -20px;
    color: white;
    background-color: darkgray;
}

.upload_btn_div, .typing_end_btn_div, .show_now_btn_div {
    width: 430px;
    height: 37px;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    line-height: 36px;
    top: 64px;
    color: white;
    background-color: darkgray;
}


            /* classdes.html */

.input_bar_a {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 40px;
    padding: 0px 4px;
    border-radius: 6px;
    border: 1px solid black;
}

.class_ex_div {
    top: 262px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 4px;
    width: 146px;
    height: 130px;
    padding: 20px 0px 0px 14px;
    
}

.classdes_dummy_text1_span {
    top: -24px;
    left: 184px;
}

.classdes_img1_div {
    border: 1px solid black;
    width: 380px;
    height: 260px;
}

.classdes_img1 {
    width: 380px;
    height: 260px;
}

.class_cover_img_path_div{
    top: -244px;
}

.classdes_cover_img_path_text {
    width: 280px;
    height: 34px;
    border-radius: 4px;
    top: 230px;
    left: 8px;
}

.classdes_search_path_btn {
    text-align: center;
    width: 76px;
    height: 40px;
    border-radius: 4px;
    top: 190px;
    left: 302px;
}

.classdes_img2_div {
    border: 1px solid black;
    width: 222px;
    height: 204px;
    margin-right: 24px;
}

.classdes_img2 {
    width: 222px;
    height: 204px;
}

.classdes_ex_div {
    top: -192px;
    width: 276px;
    height: 214px;
    border: 1px solid black;
    margin-left: 20px;
    overflow-y: auto;
}
.classdes_ex_div>.intro_ex_span {
    font-size: 12px;
}
.classdes_ex_div p {
    top: -24px;
    padding: 0px 14px;
}

#lec_des {
    margin-top: 4px;
    padding: 14px;
    width: 776px;
    overflow-y: auto;
    resize: none;
}

.submit_btn {
    margin: 16px 0px 24px 726px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}


            /* _createrprofile.html */
.intro_img_box_div {
    border: 1px dotted black;
    margin-bottom: 70px;
    width: 120px;
    height: 120px;
}

.my_profile_img {
    width: 120px;
    height: 120px;
}


.intro_dummy1_span {
    top: -34px;
    left: 60px;
    font-size: 14px;
}

.intro_input_bar_a {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 14px;
    margin;
    width: 776px;
    height: 36px;
    border: 1px solid black;
    border-radius: 6px;
}

#creater_des{
    width: 776px;
    padding: 14px;
    margin-top: 20px;
    resize: none;
    overflow-y: auto;
    border-radius: 6px;
}


            /* _videoupload.html */

.videoupload_main_top_part1_div {
    top: -190px;
}

.videoupload_main_top_part2_div {
    top: 124px;
    margin-left: 42px;
    width: 316px;
    height: 288px;
    border: 1px solid black;
}

.videoupload_video {
    width: 316px;
    height: 288px;
}

.videoupload_video_input_bar {
    margin-top: 20px;
    padding: 0px 10px;
    width: 408px;
    height: 36px;
    border: 1px solid black;
    border-radius: 6px;
}

.videoupload_video_input_bar1 {
    margin-top: 10px;
    padding: 10px;
    width: 412px;
    height: 218px;
    border: 1px solid black;
    border-radius: 6px;
    resize: none;
    overflow-y: auto;
}

.videoupload_dummy1_span {
    top: -80px;
    left: 120px;
}

.videoupload_main_center_div {
    top: -70px
}

.videoupload_select_div {
    margin-right: 50px;
}

.videoupload_select_input {
    margin-top: 20px;
    width: 160px;
    height: 36px;
    border: 1px solid black;
    border-radius: 4px;
}
.videoupload_main_center_part3_div {
    margin-left: 50px;
}

.videoupload_pre_view_img_div {
    margin-top: 20px;
    width: 316px;
    height: 128px;
    border: 1px solid black;
    margin-bottom: 16px;
}

.videoupload_pre_view_img{
    width: 316px;
    height: 128px;
}

.videoupload_prev_video_img_path {
    padding: 0px 12px;
    width: 292px;
    height: 32px;
}

#video_progress_des {
    margin-top: 20px;
    padding: 12px;
    width: 778px;
    height: 300px;
    resize: none;
    overflow-y: auto;
}




            /* _sellkitregistration.html 공통*/
.sellkitregistration_background_color_yellow_div {
    background-color: rgb(255, 200, 0);
}

.sellkitregistration_background_color_gray_div {
    background-color: darkgray;
}

            /* _sellkitregistration.html */
.wrap_sellkitregistration {
    border: 1px solid black;
    
}


.sellkitregistration_main_top {
    margin-top: 30px;
    width: 920px;
    height: 180px;
/*    border: 1px dotted black;*/
}

.sellkitregistration_nav_part1_div {
    width: 400px;
    height: 180px;
/*    border: 1px solid black;*/
}

.sellkitregistration_nav_part2_div {
    padding: 40px 0px 0px 20px;
    top: -182px;
    left: 400px;
    width: 500px;
    height: 140px; 
/*    border: 1px solid black;*/
}

.sellkitregistration_nav1_div {
    width: 120px;
    height: 28px;
}

.sellkitregistration_nav2_div {
    width: 120px;
    height: 28px;   
}

.sellkitregistration_bar1 {
    margin-right: 8px;
    padding: 0px 10px;    
    width: 104px;
    height: 28px;
    border-radius: 4px;
}

.sellkitregistration_bar2 {
    margin-right: 8px;
    padding: 0px 10px;
    width: 238px;
    height: 28px;
    border-radius: 4px;    
}

.sellkitregistration_btn1_div{
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 4px;
}

.sellkitregistration_btn2_div{
    margin-right: 8px;
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}


.sellkitregistration_main_center {
    top: -128px;
    width: 920px;
    height: 210px;
/*    border: 1px dotted black;*/
    overflow-y: hidden;
}

.sellkitregistration_nav1_dummy_div {
    top: -46px;
}

.sellkitregistration_img_div {
    margin-right: 6px;
    margin-top: 10px;
    border: 1px solid black;
    width: 90px;
    height: 50px;
}


.sellkitregistration_img {
    width: 90px;
    height: 50px;
}

.sellkitregistration_represent_img {
    margin-right: 40px;
}

.sellkitregistration_represent_img_div{
    margin-right: 40px;
}

.sellkitregistration_img_add_btn_div {
    top: -4px;
    border: 1px solid black;
    text-align: center;
    width: 88px;
    background-color: darkgray;
}

.sellkitregistration_dummy_span {
    top: -24px;
}

.sellkitregistration_main_bottom {
    top: -128px;
    width: 920px;
    height: 500px;
/*    border: 1px dotted black;*/
}

.sellkitregistration_bar3 {
    margin-right: 16px;
    padding: 0px 10px;
    width: 380px;
    height: 28px;
    border-radius: 4px;
    
}

.sellkitregistration_bar4 {
    margin-right: 8px;
    padding: 0px 10px;
    width: 404px;
    height: 32px;
    border-radius: 4px;
}

.sellkitregistration_nav_part3_div {
    padding-left: 20px;
    top: -42px;
    left: 400px;
    width: 500px; 
}
.sellkitregistration_main_bottom_part1_div{
/*    border: 1px solid black;*/
    height: 50px;
}

.sellkitregistration_main_bottom_part2_div{
/*    border: 1px solid black;*/
}

.sellkitregistration_main_bottom_part3_div {
/*    border: 1px solid black;*/
}

.sellkitregistration_btn3_div {
    margin-right: 10px;
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
/*    border: 1px solid black;*/
}

.sellkitregistration_btn4_div{
    margin-right: 10px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
/*    border: 1px solid black;*/
}

.sellkitregistration_nav_dummy2_div{
    top: -180px;
}

.sellkitregistration_textarea {
    padding: 14px;
    width: 510px;
    height: 200px;
    overflow-y: scroll;
    resize: none;
    border-radius: 4px;
}
