
html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input,
	textarea, select, button, h1, h2, h3, h4, h5, h6, pre {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-family: 'Cafe24Simplehae', "돋움", Dotum, Droid Sans,
		AppleSDGothicNeo, AppleGothic, Helvetica, Sans-serif;
}

/* 아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none; */
body, input, textarea, select, button {
	color: #585858;
	font-size: 12px;
	font-family: 'Cafe24Simplehae';
}

header, footer, nav, aside, section, article {
	display: block;
}

fieldset, img {
	border: 0;
}

img {
	-ms-interpolation-mode: bicubic !important;
	border: 0;
}

table {
	padding: 0;
	border-spacing: 0px;
	border: 0;
	border-collapse: collapse;
}

ul, ol {
	list-style: none;
}

a {
	color: #585858;
	text-decoration: none;
}

a:link {
	color: #606060;
	text-decoration: none;
}

a:hover {
	color: #ffa172;
}

.clear {
	clear: both;
}


@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff');
		format('woff');
	font-weight: normal;
	font-style: normal;
}



/*  		Creator 안의 jsp 파일들공통 글자크기 헤더 h1~ h6까지폰트   */
.creator_h1 {
	font-size: 2em;
	font-weigth: bold;
}

.creator_h2 {
	font-size: 1.5em;
	font-weigth: bold;
}
.creator_h3 {
	font-size: 1.33em;
	font-weigth: bold;
}
.creator_h4 {
	font-size: 1.17em;
	font-weigth: bold;
}
.creator_h5 {
	font-size: 0.83em;
	font-weigth: bold;
}
.creator_h6 {
	font-size: 0.67em;
	font-weigth: bold;
}


/* _sellkitregistration _cratorprofile _classdes 에서쓰는 아래쪽에있는 버튼*/
.creator_next_btn {
	margin-bottom: 50px;
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background-color: gray;
}



/* 					 myclass.jsp 동현이가 한부분 */
.CRsend{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.CRsend p {
    text-align: center;
    font-size: 19px;
    background-color: #ffa500;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    line-height: 1.5;
}
.CRsendCo{
	 position: absolute;
    width: 100%;
    bottom: 0px;
}
.CRsendCo p{
	text-align: center;
    font-size: 19px;
    background-color: threeddarkshadow;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    line-height: 1.5;
}
.CRname{
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}
.CRstatus{
    height: 25px;
    font: 
}
.CRimg{
   width: 270px;
    height: 200px;
    margin: 20px 0px;
}
.CRP{
     width: 270px;
   
    height: 100%;
    padding: auto;
 
}
.CRC{
     width: 340px;
    position: relative;
    height: 200px;
    margin: auto;
    
}
#CRHT2{
    position: absolute;
    right: 10px;
    font-size: 13px;
    cursor: pointer;
    color: orange;
}
	/* 세현추가 새로만들기 호버시 */
#CRHT2:hover {
	color: white;
	background-color: orange;
}
.CRHT{
    font-size: 28px;
    font-weight: bolder;
    
}
#CRwrap{
    width: 1000px;
    margin: 0px auto;
   padding: 100px;
}
#CRwrap *{
    box-sizing: border-box;
    
}
#CRmain{
    display: flex;
}
#CRguide{
    width: 300px;
}
.rau{
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 16px;
    line-height: 1.4;
    background-color: orange;
    cursor: pointer;
}
#CRcontent{
     
    width: 700px;
    flex-direction: column;
}
.CRconbox{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;
    padding-left:20px;
    height: 240px;
   display: flex;
    margin: 10px ;
}
#CRhead{
    position: relative;
    padding-top: 10px;
    height: 50px;
    margin-left: 10px;
}

.CRwidth{
    width: 1000px;
}
#CRside{
    width: 200px;
}
#CRguide{
    width: 300px;
}
#CRhead2{
    padding-top: 10px;
    height: 50px ;
    margin-left: 10px;
    
}
.CRguideCon{
    position: relative;
    width: 280px;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;
}
.CRfo{
    font-size: 20px;
    white-space: pre-Wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}
.CRbot{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: yellow;
    cursor: pointer;
}
.CRsize{
    font-size: 17px;
     white-space: pre-Wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 					 myclass.jsp 끝 */


/*					_videoupload.jsp 동현이가 한부분 */
#uplwrap{
    
    padding: 0px 125px;
    width: 950px;
    margin: 0px auto;
}
#uplwrap input:focus{outline: none}

#uplwrap *{
 
    box-sizing: border-box;
    
}
.padp{
    margin-left: 10px;
}
#uplwrap input,select{
    border: none;
    
}
.uplshadow{
      box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;
}

#uplmar{
    margin-bottom: 5px;
  
}
.CRcol{
	background-color: threeddarkshadow;
	color: white;
}    
#CreComWrap{
	margin: 0px auto;
	width: 700px;
	padding: 0px 250px;
}
#uplmar input{
border: none;    
}
#uplz{
    font-size: 25px;
    font-weight: bolder;
} 
#uplL{
    padding: 20px;
    width: 600px;
}
.uplflex{
    display: flex;
}
#uplL input{
    height: 37px;
    padding: 8px;
    width: 550px;
}
#uplL textarea{
    width: 550px;
}
#uply{
    font-size: 20px;
    font-weight: bold;
}
#uplR{
    padding: 20px;
    width: 350px;
}
#uplfile{
    margin-top: 10px;
}
#uplR video{
    width: 310px;
    height: 182px;
}
#uplimgbox{
     flex-flow:  wrap;
    width: 560px;
}
#uplimgbox img,.uplimgb{
    width: 170px;
    height: 100px;
}
#uplR input{
     width: 310px;
     height: 30px;
       box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;
}

#uplR input[type='file']{
    
}

#uplb h3{
   font-size: 20px;
    margin-bottom: 8px;
}
#uplRcate p{
 font-size: 15px;
    margin-bottom: 10px;
}

#uplRcate select{
    width: 150px;
    height: 30px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;
}

.uplPa{
    padding: 20px;
}

#upltextarea textarea{
    width: 554px;
    height: 300px;
}
#upltextarea h3{
    font-size: 20px;
    margin-bottom: 8px;
}
.uplnotes{
  background-attachment: local;
  background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  padding: 8px 10px;
    border: 0px;
    resize: none;
    
}
.uplnotes:focus{
	outline: none;
}
#upllas{
    padding: 0px 20px;
    text-align: end;
    
}
#upllas input{
    width: 100px;
    height: 40px;
}

#creatorcenter_footer {
	clear: both;
}
/*					_videoupload.jsp 끝 */


/* 					_classdes.jsp */

#classdes_wrap {
	padding: 0px 100px;
    width: 1000px;
    margin: 0px auto;
}
            
#classdes_content {
	width: 1000px;
}

#classdes_part1 {
	width: 1000px;
}
/* 타이틀 (클래스 카테고리, 클래스 난이도 .. 등등등 간격)*/
.classdes_text1 {
	margin: 30px 0px 10px 0px;
}
/* 클래스 카테고리, 클래스 난이도, 클래스주제, 클래스타이틀 에 있는 input bar */
.classdes_bar1 {
	width: 600px;
	height: 40px;
	border: 1px solid black;
	border-radius: 4px;
}
/* input bar1 옆에있는 예시 박스 */
#classdes_exbox {
	position: relative;
	left: 618px;
	top: -304px;
	width: 380px;
	height: 300px;
	border: 1px solid black;
	border-radius: 4px;
}

/* span 커버로 사용할 이미지를 추가해보세요 글 위치 */
.classdes_left_interval {
	margin-left: 100px;
}
/* 클래스 커버이미지 랑 input bar 파일찾기 버튼이 포함된 div */
#classdes_part2 {
	position: relative;
	top: -280px;
}

/* 클래스 커버이미지 에있는 이미지 크기 설정 div,img */
.classdes_imgbox1 {
	width: 500px;
	height: 300px;
	border: 1px solid black;
}

/* 클래스 커버이미지 옆에있는 input bar랑 파일찾기버튼 위치잡아주는 div */
#classdes_img_path_box{
	position: relative;
	top: -42px;
	left: 540px;
}

/* 클래스 커버이미지 옆에있는 input bar 크기 잡아줌 */
.classdes_bar2 {
	width: 320px;
	height: 40px;
	border: 1px solid black;
	border-radius: 4px;
}
/* 파일찾기 버튼의 크기와 위치 */
#classdes_find_file_btn {
	margin-left: 20px;
	width: 100px;
	height: 40px;
	border: 1px solid black;
	border-radius: 4px;
}
/* 강의 소개하기 에있는 이미지 + 이미지 + div 의 위치 설정 */
#classdes_part3 {
	position: relative;
	top: -300px;
}
/* 강의 소개하기에 있는 이미지 크기 */
.classdes_imgbox2 {
	width: 300px;
	height: 200px;
	margin-right: 20px;
	border: 1px solid black;
	display: inline-block;
}
/* 강의 소개하기에 있는 이미지 옆 예시 박스 */
#classdes_contentbox {
	width: 330px;
	height: 200px;
	position: relative;
	border: 1px solid black;
	display: inline-block;
}

/* 강의에 대해서 입력해주세요 있는 위치 설정*/
#classdes_part4 {
	position: relative;
	top: -290px;
}

/* textarea 크기설정 */
#classdes_des {
	padding: 0px 10px;
	width: 978px;
	height: 250px;
	border: 1px solid black;
	border-radius: 4px;
	overflow-y: scroll;
    resize: none;
}
/* 다음버튼 위치 잡기 */
.classdes_next_btn {
	margin-top: 50px;
	margin-left: 900px;
	position: relative;
}


/* 크리에이터 프로필 */
#Crpf_wrap {
	padding: 0px 125px;
    width: 950px;
    margin: 0px auto;
    
}
#Crpf_head{
    width: 800px;
    margin: 0px auto;
}
/* 프로필사진 이미지 + 감싸고있는 img 박스크기 */
.Crpf_imgbox1 {
	width: 300px;
	height: 200px;
           box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;

}
/* 이미지를 감싸고있는 div안에있으며 그안에있는 '파일찾기 텍스트' */
.Crpf_find{
	position: relative;
}
/* 크리에이터 닉네임 연락처 sns계정 .. 등등 타이틀 간격 */
.Crpf_text1 {
	margin: 30px 0px 10px 0px;
}

/* input bar 크기 조정 */
.Crpf_bar1 {
	width: 800px;
	height: 40px;
	border-radius: 4px;
	padding-left: 10px;
           box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;

}
.Crpf_form{
   margin: 0px auto;
   width: 800px;
}
/* textarea 크기 설정*/
.Crpf_bar2 {
	width: 800px;
	height: 300px;
	
	border-radius: 4px;
	padding: 0px 10px;
	overflow-y: hidden;
    resize: none;
    padding: 10px 10px 0 10px;
           box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;

    
}
/* 다음버튼*/
.Crpf_next_btn{
	margin: 30px 0px;
    position: relative;
    left: 780px;
    width: 40px;
    height: 30px;
}

/* 크리에이터 프로필 */


            /* _sellkitregistration.html 공통*/
            
#sellkitregistration_wrap {
	padding: 0px 100px;
    width: 1000px;
    margin: 0px auto;
}
/* 메인 타이틀과 내용의 간격 */
#sellkitregistration_content{
	margin-top: 30px;
}
/* sellkitregistration 에서 공통으로 inlineblock 을만들려고함 */
.sellkitregistration_inline {
	display: inline-block;
}
/* 상품 카테고리 상품명등.. 타이틀 크기설정 */
.sellkitregistration_nav1{
	width: 100px;
	height: 40px;
}
/* 상품 카테고리 판매가 재고수량 택배사 배송비 에쓰이는 input bar */
.sellkitregistration_bar1 {
	width: 200px;
	height: 40px;
	border: 1px solid black;
	border-radius: 4px;
}
/* 카테고리 검색버튼 속성설정버튼 과세상품 면세상품 영세상품 버튼 */ 
.sellkitregistration_btn1 {
	width: 100px;
	height: 40px;
	background-color: gray;
	border-radius: 4px;
}
/* 상품명 옆에있는 input bar */
.sellkitregistration_bar2 {
	width: 400px;
	height: 40px;
	border: 1px solid black;
	border-radius: 4px;
}
/* 상품속성 부가세 가있는 위치 설정*/
.sellkitregistration_nav_part2 {
	position: relative;
	top: -286px;
	left: 600px;
}
/* 다음버튼 전까지 감싸고 있는 wrap 의 개념 (위치조정)*/
.sellkitregistration_main_center {
	position: relative;
	top: -100px;
}
/* 작은타이틀(상품명 판매가 재고수량 부가세, 택배사 배송비...) 위아래 간격 조정 */
.sellkitregistration_mini_title_interval {
	margin: 20px 0px 10px 0px;
}

/* 대표이미지 div,img 추가이미지 div,img 크기 설정*/
.sellkitregistration_img {
	margin-right: 10px;
	width: 190px;
	height: 150px;
}
/* 대표이미지, 추가이미지 버튼역할 하는 div */
.sellkitregistration_img_add_btn_div {
	width: 188px;
	height: 20px;
	border: 1px solid black;
	background-color: gray;
	text-align: center;
}
/* -최대 10장까지 추가가능합니다 있는 텍스트 위치*/
.sellkitregistration_max_text {
	position: relative;
	top: -70px;
}
/* 배송비 + inputbar + 원 감싼 div로 (위치조정) */
#sellkitregistration_pricebox {
	position: relative;
	top: -72px;
	left: 600px;
}

/* 택배사 ~ 수정 저장 버튼있는 곳까지 감싼div 위치조정 */
.sellkitregistration_main_bottom {
	position: relative;
	top: -70px;
}
/* 발송지 + 배송안내문구 감싼div (위치잡기) */
.sellkitregistration_main_bottom_part2 {
	position: relative;
	top: -70px;
}
/* 발송지 배송안내문구 옆에있는 input bar (크기)*/
.sellkitregistration_bar3 {
	width: 700px;
	height: 40px;
	border: 1px solid black;
	border-radius: 4px;
}
/* 상세정보 등록 ~ 수정 저장 버튼까지 감싼 div (위치조정) */
.sellkitregistration_main_bottom_part3 {
	position: relative;
	top: -50px;
}


/* text 버튼부터 저장버튼 있는데까지 감싼div 위치조정 */
.sellkitregistration_detail_info_registration_part2 {
	position: relative;
	top: -70px;
	left: 100px;
}

/* Text HTML 도움말 버튼 (크기조정)*/
.sellkitregistration_btn2 {
	width: 100px;
	height: 30px;
	border-radius: 4px;
}


/* '내용' 위치조정 */
.sellkitregistration_nav_dummy2 {
	position: relative;
	top: 40px;
}


/* textarea (크기조정)*/
.sellkitregistration_bar4 {
	width: 780px;
	height: 300px;
	resize: none;
	padding: 0px 10px;
/* 	border: 1px solid black; */
	
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;
}
/* 수정 저장 버튼 (크기)*/
.sellkitregistration_btn3 {
	width: 100px;
	height: 40px;
	border: 1px solid black;
	border-radius: 4px;
}
	


	/* 도움말 버튼 간격 */
.sellkitregistration_btn_interval1 {
	position: relative;
	left: 494px;
}
			/* 수정 저장 버튼 간격 */
.sellkitregistration_btn_interval2 {
	position: relative;
	left: 596px;
}
		/* 다음버튼 위치잡기 */
.sellkitregistration_next_btn {
	position: relative;
	top: -50px;
	left: 800px;
}
/* /* ------------------------------------------------- */
#shoppingCart_wrapper a {
	color: #666;
	text-decoration: none;
}

#shoppingCart_wrapper a:hover {
	color: black;
	text-decoration: none;
}

#shoppingCart_wrapper .fl {
	float: left;
}

#shoppingCart_wrapper .fr {
	float: right;
}

#shoppingCart_wrapper table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	text-align: center;
	width: 1200px;
}

#shoppingCart_wrapper th, #shoppingCart_wrapper td{
	border-bottom: 1px solid #e9e4de;
	height: 160px;
}

#shoppingCart_wrapper th {
	height: 40px;
	line-height: 20px;
	font-weight: bold;
	background-color: #ffa500cc;
	color:black;
    
}
#listup{
    width: 150px;
    border-left: 1px solid white; 
        border-right: 1px solid white; 
    cursor: pointer;
}
#shoppingCart_wrapper td {
	padding: 10px 10px;
	color: #444;
	font-weight: bolder;
}

#shoppingCart_wrapper {
	width: 1200px;
	min-height: 800px;
	margin: 0px auto;
}

.shoppingCart_title_box {
	padding: 15px 0px 15px 0px;
	position: relative;
	bottom: 23px;
}
#forfixs{
    
}
.shoppingCart_subtitle {
	float: right;
	position: relative;
	bottom: 22px;
}
#listdel{
    cursor: pointer;
    width: 50px;
        border-right: 1px solid white; 
    
}
span.basket {
	color: black;
}

span.order_sheet, span.order_finish {
	color: gray;
}

#shoppingCart_content {
	width: 1200px;
	margin: 40px auto;
}

.delete {
	display: block;
	height: 40px;
	line-height: 40px;
	width: 150px;
	background-color: purple;
	color: white;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
}

.delete:hover {
	background-color: orangered;
	color: white;
}

.deleteOne {
	display: block;
	height: 33px;
	line-height: 33px;
	width: 130px;
	color: #b5b5b5;
	border: solid 2px #b5b5b5;
	border-radius: 8px;
	background-color: white;
	cursor: pointer;
}

.deleteOne:hover {
	color: white;
	background-color: orangered;
	border: solid 2px orangered;
}

.on {
	background-color: #eee;
}

.goodsTitle{
	color: black;
    width: 400px;
}

.check {
	cursor: pointer;
}

.checkbox {
	width: 60px;
}

.goods {
	width: 800px;
	overflow: hidden;
}

.goods span {
	width: 280px;
	margin-top: 16px;
	text-align: left;
	float: left;
}
.opration{
    
}
.price {
	width: 130px;
}

.count {
	
}
#countor{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.count .add, .count input, .count .reduce {
	float: left;
	margin-right: -1px;
	position: relative;
	z-index: 0;
}

.count .add, .count .reduce {
	height: 23px;
	width: 17px;
	border: 1px solid #aaa;
	background: white;
	text-align: center;
	line-height: 23px;
	color: #444;
	font-size: 21px;
}

.count .add:hover, .count .reduce:hover {
	color: black;
	z-index: 3;
	border-color: black;
	cursor: pointer;
}

.count input {
	width: 50px;
	height: 23px;
	line-height: 15px;
	border: 1px solid #aaa;
	color: #343434;
	text-align: center;
	padding: 4px 0;
	background-color: white;
	z-index: 2;
}
.subtotal span{
    margin-left: 5px;
    
}
.subtotal p{
    margin: 15px 0px;
}
.subtotal {
	width: 150px;
	text-align: left;
	font-weight: bold;
}

.goods img {
	width: 130px;
	margin-right: 5px;
	float: left;
}

.cartFooter {
	width: 1200px;
	margin-top: 10px;
	color: #666;
	height: 48px;
	border: 1px solid white;
	position: relative;
	z-index: 8;
}

.cartFooter div {
	line-height: 50px;
	height: 50px;
}

.cartFooter a {
	margin-top: 4px;
	margin-right: 20px;
}

.selall {
	width: 100px;
	float: left;
	margin-left: 20px;
}

a.selallspan {
	color: white
}

.selallSPAN:hover {
	color: white;
	cursor: pointer;
}

.cartFooter .select-all {
	width: 100px;
	height: 48px;
	line-height: 48px;
	padding-left: 5px;
	color: #666;
}

.cartFooter .closing {
	height: 45px;
	border-left: 1px solid #eaeaea;
	width: 100px;
	text-align: center;
	color: white;
	font-weight: bold;
	background: purple;
	cursor: pointer;
}

.cartFooter .closing:hover {
	color: white;
	background-color: orangered;
}

.cartFooter .total {
	margin: 0 20px;
	cursor: pointer;
	color: white;
}

.cartFooter  #priceTotal, .cartFooter #selectedTotal {
	color: orangered;
	font-weight: bold;
}

.cartFooter .selected {
	cursor: pointer;
	color: white;
}

.cartFooter .selected .arrow {
	position: relative;
	margin-left: 3px;
	color: white;
}

.cartFooter .selected .down {
	position: relative;
	top: 3px;
	display: none;
}

.show .selected .down {
	display: inline;
}

.show .selected .up {
	display: none;
}

.cartFooter .selected:hover .arrow {
	color: orangered;
}

.cartFooter .selected-view {
	width: 1200px;
	border: 1px solid #c81622;
	position: absolute;
	height: auto;
	background: white;
	z-index: 9;
	bottom: 48px;
	left: -1px;
	display: none;
}

.show .selected-view {
	display: block;
}

.cartFooter .selected-view div {
	height: auto;
}

.cartFooter .selected-view img {
	width: 130px;
}

.cartFooter .selected-view .arrow {
	font-size: 30px;
	line-height: 100%;
	color: #c81622;
	position: absolute;
	right: 282px;
	bottom: -15px;
}

.cartFooter .selected-view .arrow span {
	color: #B8D7D7;
	position: absolute;
	left: 0px;
	bottom: 2px;
}

#selectedViewList {
	padding: 20px;
	margin-bottom: -20px;
	background-color: white;
}

#selectedViewList div {
	display: inline-block;
	position: relative;
	width: 130px;
	/*height: 130px;*/
	border: 1px solid #ccc;
	margin: 10px 13px;
}

#selectedViewList .del {
	display: none;
	color: #ffffff;
	font-size: 14px;
	position: absolute;
	bottom: 19px;
	right: 30px;
	width: 70px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: orangered;
	cursor: pointer;
}

#selectedViewList .selCount {
	display: block;
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: orangered;
	border-radius: 16px;
}

#selectedViewList div:hover span {
	display: block;
}

/*收货地址CSS*/
.cartTop {
	clear: both;
	height: 45px;
}

.countBalance {
	width: 500px;
	float: left;
	margin-top: 15px;
}

.addressDIV {
	width: 150px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 17px;
	margin: 10px 28px 0 0;
	text-align: center;
	position: relative;
	float: right;
	cursor: pointer;
}

.addressDIV span {
	display: inline-block;
	width: 150px;
	height: 100%;
	transform: skew(20deg);
	-webkit-transform: skew(20deg);
	background: #FF6347;
	position: absolute;
	right: -9px;
	top: 0;
}

.addressDIV span::before, .addressDIV span::after {
	content: "";
	width: 4px;
	height: 100%;
	background: #FF6347;
	position: absolute;
	top: 0;
	right: -8px;
}

.addressDIV span::after {
	right: -16px
}
#inboxAC{
    display: inline-block;
}
.addressDIV span:hover {
	transform: skew(0deg);
	-webkit-transform: skew(0deg);
}

.devideDIV {
	height: 50px;
	line-height: 50px;
	border: solid 2px #555;
}

.devideDIV span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.devideDIV img {
	width: 30px;
	height: 30px;
}

.cartIconDIV {
	margin-top: 10px;
}
#countor select{
	width: 200px; height:30px; 
	box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;
	border-radius: 3px;
}
/* ----------------------------------------------------------- */
