
<!-- body		cnm_wrap -->
<!-- title		cnm_title -->
<!-- pro_pic		cnm_profile -->
<!-- pro_pic_title	cnm_pro_title -->
<!-- subtitle		cnm_subtitle -->
<!-- mb_name		cnm_mb_name -->
<!-- mb_birth		cnm_mb_birth -->
<!-- gender		cnm_gender	? -->
<!-- mb_f		cnm_mb_f -->
<!-- mb_m		cnm_mb_m -->
<!-- mb_gender	cnm_mb_gender	? -->
<!-- mb_login		cnm_mb_login -->
<!-- mb_pw		cnm_mb_pw -->
<!-- mb_pw_confirm	cnm_mb_pw_confirm -->
<!-- mb_ph_first	cnm_mb_ph_first -->
<!-- mb_ph_second	cnm_mb_ph_second -->
<!-- mb_email		cnm_mb_email -->
<!-- mb_adress_num	cnm_mb_adress_num -->
<!-- find_adress	cnm_find_adress -->
<!-- mb_adress_basic	cnm_mb_adress_basic -->
<!-- mb_adress_detail	cnm_mb_adress_detail -->
<!-- bottom		cnm_bottom -->
<!-- submit_btn	cnm_submit_btn -->
/* #cnm_wrap li{
    margin-bottom: 5px;
}

#cnm_wrap input{
    height: 30px;
    font-size: 18px;
}
*/
#cnm_wrap div{
    width: 1000px;
    padding-bottom: 10px;
    background-color: red;
}

.cnm_title{
	width: 500px;
	height: 100px;
	text-align: center;
	font-size: 24px;
	margin: 40px auto 50px auto;
	color: black;
	background: url(../img/logo/LecFly_LOGO_B_W.png) center no-repeat;
	opacity: 0.7;
}

/*.cnm_li_title{
	margin-top:10px;
}
.cnm_subtitle{
	font-size: 20px;
	margin-top: 10px;
} */
#cnm_wrap{
/* 	border: 1px solid black; */
	/* margin: 50px auto 50px auto;
	width: 800px; */
	
    /* margin-top: 50px;
    margin-bottom: 50px; */
    width: 1000px;
    height: 1100px;
	margin: 30px auto 0px auto;
	text-align: center;
	padding-bottom: 30px;
}
/* 사진 */
#cnm_profile{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 75px;
}
#cnm_pro_title{
	text-align: center;
}
.input_cnm{
    height: 32px;
	width: 400px;	
	font-family: sans-serif;
	font-size: 16px;
}
/* #cnm_pic{
	text-align: center;
} */
#cnm_pic{
    /* border: 1px solid red; */
	display:inline-block;
    width: 208px;
    height: 208px;
    float: left;
    margin-top: 30px;
}
#cnm_pic img {
	border: 1px dashed grey;
	border-radius: 100px;
	/* margin: 30px; */
	float: center;
	opacity: 0.7;
}
#cnm_pic>input {
	width: 60px;
	height: 20px;
	float: right;
	margin-left: 300px;
	display: inline-block;
	
}
#cnm_wrap2{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	height: 670px; 
}
#cnm_table{ /* mypage pw 수정_ 테이블 */
	/* border-top: 2px solid black;
	border-bottom: 2px solid black; */
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	float: right;
}
#cnm_table table{ /* mypage pw 수정_ 테이블 */
     /* margin-left: 50px; */
     margin: 30px auto 30px auto;
	/* margin-right: auto; */
    width: 600px;
    height: 420px;
    border-collapse: collapse;
    /* border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray; */
    text-align: left;
   /*  font-size: large; */
}
#cnm_table table th {
	 vertical-align: top;
	 padding: 5px;
}
#cnm_table table td {
	 text-align: left;
	 padding-left: 60px;
	 padding: 5px;
}

#cnm_table >input {
	font-size: 20px;
}
/* 이름 */

/* 생일 */

/* 성별 */
#cnm_gender{
    padding-left: 150px;
}
#cnm_mb_f, #cnm_mb_m{
	width: 15px;
	height: 15px;
	margin: 0 10px 0 10px;
}
.gender_sub_title{
	font-size: 16px;
	height: 30px;
}
/* 로그인 */

/* 비밀번호 */

/* 전화번호 */
.cnm_ph_padding {
	font-size: 16px;
}
.cnm_mb_ph{
	width: 120px;
	height: 32px;
	font-size: 16px;
}

/* 이메일 */

/* 주소 */
#cnm_mb_adress_num{
	width: 340px;
	height: 32px;
	font-family: sans-serif;
	font-size: 16px;
}
#find_adress_btn{
	width: 60px;
	height: 32px;
	background-color: orange;
	float: right;
	font-size: 16px;
}
/* #cnm_find_adress{
	width: 69px;
	height: 30px;
	background-color: orange;
	border: 1px solid black;
	font-size: 16px;
} */

/* 하단부 */
.cnm_bottom{
	display: inline-block;
	margin-top: 20px;
	width: 1000px;
	float: center;
}
#cnm_submit_btn{
	margin: auto;
	background-color: orange;
	width: 400px;
	height: 50px;
    text-align: center;
	line-height: 60px;
	font-size: 2.0em;
}



