/* 크리에이터 파트 */
/* * { */
/*     margin: 0px; */
/*     padding: 0px; */
/* } */

@import url("reset.css");

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff');
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff");

body {
	font-family: 'Cafe24Simplehae';
}




.body_wrap_cont_div {
	width: 1200px;
	height: 1000px;
	border: 1px solid green;
}

#creatorcenter_header {
}

#creatorcenter_main{
	width: 1200px;
	height: 700px;
	border: 1px solid red;
}
#creatorcenter_main_nav {
	width: 150px;
	height: 700px;
	float: left;
}

#creatorcenter_main_cont {
	position: relative;
	left: 150px;
	padding-top: 30px;
	width: 1020px;
	height: 700px;
	
}

#creatorcenter_footer {
	clear: both;
}

.myclass_main_cont_div, .classdes_main_cont_div, .creatorprofile_main_cont_div,
.sellkitregistration_main_cont_div, .videoupload_main_cont_div {
	
	margin: 0px auto;
	
}


            /* common/_creatorcenter_nav.jsp */
#creatorcenter_nav {
	width: 150px;
	height:	650px;
    background-color: gray;
    padding-top: 50px;
}

.creatorcenter_nav_btn {
	margin-bottom: 4px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
    
}
.creatorcenter_nav_btn a {
	
    text-decoration: none;
    
    color: black;
}

            /* _myclass.html*/
.myclass_main_cont_div {
	overflow-y: hidden;
}

.myclass_session_div {
	margin-top: 30px;
	width: 706px;
	height: 230px;
	border: 2px solid black;
}

.myclass_img_div {
	margin-top: 24px;
   	margin-left: 18px;
    width: 210px;
    height: 172px;
   	display: inline-grid;
   	border: 1px solid black;
   	
}

.myclass_img {
    width: 210px;
    height: 172px;
}

.myclass_des_div{
	position: relative;
	display: inline-grid;
    top: -154px;
}

.myclass_samll_radius_div {
    width: 86px;
    height: 18px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    font-size: 12px;
    line-height: 18px;
    margin-right: 6px;
    margin-top: 4px;
}

.myclass_modify_btn_div {
	position: relative;	
    top: -40px;
    margin-left: 346px;
    background-color: black;
    color: white;
}

.myclass_des_div {
	display:inline-grid;
	position: relativ;	
}

.myclass_des_main_div{
	margin-left: 18px;
	display:inline-block;
}


/*myclass_samll_radius_div + 클래스-승인, 동여상-미완, 판매키트등록 버튼 */
.myclass_confirm_btn_div, .myclass_video_no_end_btn_div, .myclass_sellkit_btn_div {
	position: relative;
	display: inline-grid;	
    top: -20px;
    color: white;
    background-color: green;
}

.myclass_typing_btn_div {
	position: relative;
	display: inline-grid;
    top: -20px;
    color: white;
    background-color: gold;
}

.myclass_punding_btn_div {
	position: relative;
	display: inline-grid;
    top: -20px;
    color: white;
    background-color: darkgray;
}

.myclass_big_btn_div {
	position: relative;
    top: 64px;
    width: 430px;
    height: 37px;
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    background-color: darkgray;
    text-align: center;
    line-height: 36px;
}


            /* classdes.html */
.classdes_wrap_cont_div {
	
}            
.classdes_main_cont_div {
	padding-top: 30px;
}

.classdes_main_sub_title {
	margin-top: 20px;
}

.classdes_session1_div {
	margin-top: 10px;
	display: inline-block;	
}

.classdes_classdes_div {
	display: inline-grid;
}


.input_bar_a {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 40px;
    padding: 0px 4px;
    border-radius: 6px;
    border: 1px solid black;
}

.classdes_class_topic_div {
	margin-top: 26px;
}

.classdes_class_ex_div {
	margin-left: 20px;
	padding: 20px 0px 0px 14px;
	width: 146px;
    height: 130px;
	position: relative;	
    top: 236px;
    display: inline-grid;    
    border: 1px solid black;
    border-radius: 4px;
}

.classdes_dummy_text1_span {
    top: -18px;
    left: 184px;
    position: relative;
}

.classdes_class_cover_img_box {
	width: 380px;
    height: 260px;
    display: inline-grid;
    border: 1px solid black;    
}

.classdes_class_cover_img1 {
    width: 380px;
    height: 260px;
}

.classdes_class_cover_img_path_div{
	display: inline-grid;
	position: relative;
    top: -268px;
    left: 440px;
}

.classdes_class_cover_img_path_text {
    width: 280px;
    height: 34px;
    position: relative;
    top: 230px;
    left: 8px;
    border-radius: 4px;
}

.classdes_search_path_btn {
	position: relative;
    text-align: center;
    width: 76px;
    height: 40px;
    border-radius: 4px;
    top: 190px;
    left: 302px;
}

.classdes_session3_div {
	display: inline-block;
}

.classdes_main_sub_title2 {
	margin-top: 54px; 
	margin-bottom: 30px;
}

.classdes_img2_div {
	display: inline-grid;
    border: 1px solid black;
    width: 222px;
    height: 204px;
    margin-right: 24px;
}

.classdes_img2 {
    width: 222px;
    height: 204px;
}

.classdes_ex_div {
	display: inline-grid;
	position: relative;
    top: -192px;
    width: 276px;
    height: 214px;
    border: 1px solid black;
    margin-left: 20px;
    overflow-y: auto;
}
.classdes_ex_div>.classdes_intro_ex_span {
	position: relative;
    font-size: 12px;
}
.classdes_ex_div p {
	position: relative;
    top: -24px;
    padding: 0px 14px;
}

#classdes_lec_des {
    classdes_margin-top: 4px;
    padding: 14px;
    width: 776px;
    overflow-y: auto;
    resize: none;
}

.creator_submit_btn {
    margin: 16px 0px 24px 726px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}


            /* _creatorprofile.html */
.creatorprofile_wrap_cont_div {
	
}   
     
.creatorprofile_main_cont_div{
	padding-top: 30px;
		
}

.creatorprofile_main_cont_part1_div {
	padding-top: 20px;
}
    
.creatorprofile_myprofile_div {
	margin-top: 10px;
    border: 1px dotted black;
    margin-bottom: 70px;
    width: 120px;
    height: 120px;
}

#creatorprofile_myprofile_img {
	width: 120px;
    height: 120px;
}


.creatorprofile_intro_dummy1_span {
	position: relative;
    top: -34px;
    left: 60px;
    font-size: 1.0rem;
}

.creatorprofile_intro_input_bar_a {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 14px;
    margin;
    width: 776px;
    height: 36px;
    border: 1px solid black;
    border-radius: 6px;
}

#creatorprofile_creator_des{
    width: 776px;
    padding: 14px;
    margin-top: 20px;
    resize: none;
    overflow-y: auto;
    border-radius: 6px;
}


            /* _videoupload.html */
.videoupload_wrap_cont_div{

}

.videoupload_main_top_part1_div {
	position: relative;
    top: -190px;
    display: inline-grid;
    
}

.videoupload_main_top_part2_div {
	display: inline-block;
	position: relative;
    top: 138px;
    margin-left: 42px;
    width: 316px;
    height: 288px;
    border: 1px solid black;
}

.videoupload_video {
    width: 316px;
    height: 288px;
}

.videoupload_video_input_bar {
    margin-top: 20px;
    padding: 0px 10px;
    width: 408px;
    height: 36px;
    border: 1px solid black;
    border-radius: 6px;
}

.videoupload_video_input_bar1 {
    margin-top: 10px;
    padding: 10px;
    width: 412px;
    height: 218px;
    border: 1px solid black;
    border-radius: 6px;
    resize: none;
    overflow-y: auto;
}

.videoupload_dummy1_btn_span {
	position: relative;
    top: -80px;
    left: 120px;
}

.videoupload_main_center_div {
	position: relative;
    top: -70px
}

.videoupload_select_div {
	display: inline-grid;
    margin-right: 50px;
}

.videoupload_select_input_bar {
    margin-top: 20px;
    width: 160px;
    height: 36px;
    border: 1px solid black;
    border-radius: 4px;
}
.videoupload_main_center_part3_div {
	display: inline-grid;
    margin-left: 50px;
}

.videoupload_pre_view_img_div {
    margin-top: 20px;
    width: 316px;
    height: 128px;
    border: 1px solid black;
    margin-bottom: 16px;
}

.videoupload_pre_view_img{
    width: 316px;
    height: 128px;
}

.videoupload_prev_video_img_path {
    padding: 0px 12px;
    width: 292px;
    height: 32px;
}

#videoupload_video_progress_des {
    margin-top: 20px;
    padding: 12px;
    width: 778px;
    height: 300px;
    resize: none;
    overflow-y: auto;
}




            /* _sellkitregistration.html 공통*/
           
.sellkitregistration_background_color_yellow_div {
    background-color: rgb(255, 200, 0);
}

.sellkitregistration_background_color_gray_div {
    background-color: darkgray;
}

            /* _sellkitregistration.html */
            
.sellkitregistration_wrap_cont_div {
	
}             

.sellkitregistration_mini_title_interval {
	margin-top: 10px;
}

#sellkitregistration_main {
	padding-top: 30px;
}

.sellkitregistration_main_top_div {
	display: inline-block;
    margin-top: 30px;
    width: 920px;
    height: 180px;
/*    border: 1px dotted black;*/
}

.sellkitregistration_nav_part1_div {
    width: 400px;
    height: 180px;
/*    border: 1px solid black;*/
}

.sellkitregistration_nav_part2_div {
	position: relative;
    padding: 40px 0px 0px 20px;
    top: -182px;
    left: 400px;
    width: 500px;
    height: 140px; 
/*    border: 1px solid black;*/
}

.sellkitregistration_nav1_div {
	display: inline-block;
    width: 120px;
    height: 28px;
}

.sellkitregistration_nav2_div {
	display: inline-block;
    width: 120px;
    height: 28px;   
}

.sellkitregistration_input_bar1 {
    margin-right: 8px;
    padding: 0px 10px;    
    width: 104px;
    height: 28px;
    border-radius: 4px;
}

.sellkitregistration_input_bar2 {
    margin-right: 8px;
    padding: 0px 10px;
    width: 238px;
    height: 28px;
    border-radius: 4px;    
}

.sellkitregistration_btn1_div{
	display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 4px;
}

.sellkitregistration_btn2_div{
	display:inline-block;
    margin-right: 8px;
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}


.sellkitregistration_main_center_div {
	position: relative_div;
    top: -128px;
    width: 920px;
    height: 210px;
/*    border: 1px dotted black;*/
    overflow-y: hidden;
}

.sellkitregistration_nav1_dummy_div {
	position: relative; 
    top: -46px;
}

.sellkitregistration_main_center_part1_div {
	display: inline-block;
	position: relative;
	
}

.sellkitregistration_img_div {
	display: inline-block;
    margin-right: 6px;
    margin-top: 10px;
    border: 1px solid black;
    width: 90px;
    height: 50px;
}


.sellkitregistration_img {
    width: 90px;
    height: 50px;
}

.sellkitregistration_img_div{
	margin-right: 40px;
}

.sellkitregistration_img_add_btn_div {
    top: -4px;
    border: 1px solid black;
    text-align: center;
    width: 88px;
    background-color: darkgray;
}

.sellkitregistration_dummy_span {
	position: relative;
    top: -24px;
}

.sellkitregistration_main_bottom_div {
	position: relative;
    top: -128px;
    width: 920px;
    height: 500px;
/*    border: 1px dotted black;*/
}

.sellkitregistration_input_bar3 {
    margin-right: 16px;
    padding: 0px 10px;
    width: 380px;
    height: 28px;
    border-radius: 4px;
    
}

.sellkitregistration_input_bar4 {
    margin-right: 8px;
    padding: 0px 10px;
    width: 404px;
    height: 32px;
    border-radius: 4px;
}

.sellkitregistration_nav_part3_div {
	position: relative;
    padding-left: 20px;
    top: -42px;
    left: 400px;
    width: 500px; 
}
.sellkitregistration_main_bottom_part1_div{
/*    border: 1px solid black;*/
    height: 50px;
}

.sellkitregistration_main_bottom_part2_div{
/*    border: 1px solid black;*/
}

.sellkitregistration_main_bottom_part3_div {
/*    border: 1px solid black;*/
}

.sellkitregistration_btn3_div {
	display: inline-block;
    margin-right: 10px;
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
/*    border: 1px solid black;*/
}

.sellkitregistration_btn4_div{
	display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
/*    border: 1px solid black;*/
}

.sellkitregistration_nav_dummy2_div{
	position: relative;
    top: -180px;
}

#sellkitregistration_help_btn_box {
	margin-left: 248px;
}

#sellkitregistration_fix_btn_box {
	 margin-left:430px;
}
.sellkitregistration_textarea {
	position: relative;
	top: -8px;
    padding: 14px;
    width: 510px;
    height: 200px;
    overflow-y: scroll;
    resize: none;
    border-radius: 4px;
}
