@font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
/*     margin: 0px; */
/*     border: 0px; */
    font-family: 'Cafe24Simplehae';
}

.CSsection { /* main size 설정 */
    width: 1200px;    
    min-height: 670px;
    overflow: hidden;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#CSsec_title { /* 타이틀 _ 고객섬김센터*/
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#CSsec_subtitle { /* 서브 타이틀 _ 1:1 문의하기, 자주묻는질문, 공지사항 */
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: large;
}
#CSsec_subtitle ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#CSsec_subtitle ul li {
    float: left;
    margin-right: 15px;
}
#CSsec_subtitle ul li a{
    color: black;
    text-decoration: none;
}
#CSsec_subtitle ul li a:hover{
    color: orangered;
}
/* #CSsec_subtitle ul {
	border-bottom: 2px groove darkgrey;
	font-weight: bold;
} */

/* ````````````````````````````````````````````````````````````````````````````````````고객섬김센터_QnA */
#qna_p {
	width: 500px;
	height: 100px;
	text-align: center;
	font-size: 24px;
	margin: 40px auto 50px auto;
	color: grey;
	background: url(../img/logo/LecFly_LOGO_B_W.png) center no-repeat;
	opacity: 0.7;
	padding-top: 90px;
}
#qna_noticebox {
	background-color: lightgray;
	width: 840px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 30px 30px 30px;
	font-size: 18px;
}
#qna_table >h2 {
	margin-left: 150px;	
	padding-top: 30px;
	padding-bottom: 20px;
}

#qna_table table{ /* QnA_ 테이블 */
    margin-left: auto;
	margin-right: auto;
    width: 900px;
    height: 400px;
    border-collapse: collapse;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    text-align: center;
   /*  font-size: large; */
}
#qna_table table th {
	border-bottom: 1px solid darkgray;
}
#qna_noticebox button {
	text-align: center;
	fontsize: 15px;
	width: 150px;
	height: 35px;
	background-color: orange;
	display: inline-block;
	/* margin-right: 50px; */
	float: right;
	color: black;
}
#qna_numbering { /* QnA _ 테이블_ 페이지넘버링 */
	padding-top: 30px;
    text-align: center;
    font-size: 15px;
}
#qna_numbering b{
    color: orange;
}


/* ``````````````````````````````````````````````````````````````````````````````고객섬김센터_QnA_글쓰기 */
#post_title {
	width: 500px;
	height: 100px;
	text-align: center;
	font-size: 24px;
	margin: 60px auto 50px auto;
	color: grey;
	background: url(../img/logo/LecFly_LOGO_B_W.png) center no-repeat;
	opacity: 0.7;
}
.post_input_wrap { /* QnA글쓰기_항목 규격 래퍼 */
	width: 800px;
	position: relative;
    padding: 10px;
    border: 1px solid #dfdfdf;
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
}
.post_input_wrap input { /* QnA글쓰기_input 설정 */
	width: 100%;
    border: 0px none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.post_input_wrap textarea {
	width: 100%;
	height: 100%;
	font-size: inherit;
}
.post_board table { /* QnA글쓰기_table */
	margin-left: auto;
    margin-right: auto;
}
.post_board table th{ 
	width: 150px;
}
.radio_qna_type {
	display: inline;
}
.post_add_thumb_wrap {	/* QnA글쓰기_첨부파일 업로드 래퍼 */
	float: left;
	width: 800px;
	position: relative;
    padding: 7px 13px 9px;
    border: 1px solid #dfdfdf;
}
.label_add_thumb { /* QnA글쓰기_첨부파일 업로드 요소 */
	
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    /* height: 100px; */
    padding: 45px 0 0;
    font-size: 12px;
    border: 2px dashed #dfdfdf;
    background: url(../img/logo/LecFly_SLOGO_W_W.png) center 15px no-repeat;
    background-size: 50px 50px;
    text-align: center;
    line-height: 1.4;
    overflow: hidden;
}
#add_thumb {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.post_qna_ul {
	list-style: disc;
	padding-top:5px;
	padding-left:20px;
}
.edit_info, .btn_reset{ /* QnA글쓰기_개인정보수정, 리셋버튼 */
	display: inline;
    width: 150px;
    height: 40px;
    /* margin-left : 500px; */
    color: #000000;
    /* font-size: 14px; */
    background: lightgrey;
    /* line-height: 50px; */
    float: right;
    text-align: center;
}
.btn_post { /* QnA글쓰기_글쓰기 버튼 */
	display: block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    background: lightgrey;
    line-height: 50px;
    text-align: center;
    color: black;
}

/* ``````````````````````````````````````````````````````````````````````````````고객섬김센터_자주묻는질문 */
#faq_p { /* 자주묻는질문_ 설명 P */
    width: 500px;
	height: 100px;
	text-align: center;
	font-size: 24px;
	margin: 40px auto 50px auto;
	color: grey;
	background: url(../img/logo/LecFly_LOGO_B_W.png) center no-repeat;
	opacity: 0.7;
	padding-top: 90px;
}
#faq_nav { /* 자주묻는질문 _ 보드 네비게이션 ( 전체, 이용안내, 회원정보, 결제/환불, 기타 ) */
    margin: 20px auto 15px 50px;
    width: 500px;
}
#faq_nav ul {
    list-style-type: none;
    /* margin: 0px; */
    padding: 0px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto; 
}
#faq_nav ul li {
    float: left;
    margin-right: 20px;
    font-size: 14px;
}
#faq_nav ul li a{
    color: black;
    text-decoration: none;
}
#faq_nav ul li a:hover{
    color: orangered;
}
#faq_table { /* 자주묻는질문 _ 테이블 영역*/
    width: 900px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
#faq_table >ul >li {
	border: 1px solid grey;
	margin: 2px;
}
/* #faq_table table{ 자주묻는질문_테이블
    border-collapse: collapse;
   border: 1px solid black;
    width: 900px;
    height: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: large;
}
#faq_table table *{ 
    border: 1px solid darkgray;   
}
#faq_table table td{
    padding-left: 15px;   
} */
#faq_numbering { /* 자주묻는질문_ 테이블_페이지넘버링 */
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
#faq_numbering b{
    color: orange;
}
#faq_acodian{
    height: 40px;
    overflow-y: hidden;
    border: 0px;
}
#faq_acodian:hover{
	min-height: 180px;
}
#faq_aco_type {
	margin: 12px;
	font-size: large;
}
#faq_aco_title {
	margin: -30px auto 12px 120px;
	font-size: large;
}
#faq_aco_txt {
	height: 110px;
	padding: 10px;
	background-color: lightgrey;
	margin: auto 20px auto 20px;
	font-size: 15px;
}
/* `````````````````````````````````````````````````````````````````````````````````고객섬김센터_공지사항*/

#notice_p { /* 공지사항_ 설명 P */
    width: 500px;
	height: 100px;
	text-align: center;
	font-size: 24px;
	margin: 40px auto 50px auto;
	color: grey;
	background: url(../img/logo/LecFly_LOGO_B_W.png) center no-repeat;
	opacity: 0.7;
	padding-top: 90px;
}
/* #notice_p >h4, #notice_p >p {
	box-sizing: border-box;
	color: black;
} */
#notice_table table{ /* 공지사항_ 테이블*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 15px;
    width: 900px;
    height: 500px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    text-align: center;
    font-size: large;
    color: black;
}
#notice_table table th {
	border-bottom: 1px solid darkgray;
}
#notice_numbering { /*공지사항 _ 테이블_ 페이지넘버링*/
    text-align: center;
    font-size: 15px;
}
#notice_numbering b{
    color: orange;
}


/* `````````````````````````````````````````````````````````````````````````````````크리에이터센터 공지사항*/
#cre_notice_p { /* 공지사항_ 설명 P */
    width: 500px;
	height: 100px;
	text-align: center;
	font-size: 24px;
	margin: -50px auto 50px auto;
	color: grey;
	background: url(../img/logo/LecFly_LOGO_B_W.png) center no-repeat;
	opacity: 0.7;
	padding-top: 180px;
}
#cre_notice_p >h4 {
	box-sizing: border-box;
	color: black;
	font-size: 24px;
}
#cre_notice_p >p {
	box-sizing: border-box;
	color: black;
	font-size: 15px;
}
#cre_notice_table table{ /* 공지사항_ 테이블*/
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    margin-bottom: 15px;
    width: 900px;
    height: 500px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    text-align: center;
    font-size: large;
    color: black;
}
#cre_notice_table table th {
	border-bottom: 1px solid darkgray;
}
#cre_notice_numbering { /*공지사항 _ 테이블_ 페이지넘버링*/
    text-align: center;
    font-size: 15px;
    padding-bottom : 30px;
}
#cre_notice_numbering b{
    color: orange;
}

/* `````````````````````````````````````````````````````````````````````````````````홈페이지 안내_이용안내*/

.lecflyis { /* 홈페이지_이용안내_섹션*/
    width: 930px;
    min-height: 700px;
    margin: 15px auto 15px auto;
    padding-bottom: 30px;
    background: url(../img/photosample3.jpg);
    background-repeat: no-repeat;
    background-position: 0% 5%;
    text-align: center;
}
#lecflyis_logo { /* 로고 */
    margin-top: 45px;
}
#lecflyis_maintitle { /* 홈페이지_이용안내_메인타이틀 */
    margin-top: 30px;
    color: white;
}
#lecflyis_maintxt >p { /* 홈페이지_이용안내_메인타이틀 */
    
}
#lecflyis_maintxt { /* 홈페이지_이용안내_메인텍스트*/
    margin-top: 30px;
    color: white;
}
#lecflyis_title2 { /* 홈페이지_이용안내_타이틀 2*/
    margin-top: 60px;
/*    background-color: purple;*/
    color: white;
    margin-left: auto;
    margin-right: auto;
}
#lecflyis_box { /* 홈페이지_이용안내_박스 */
    background-color: rgba(255,255,255,0.7);
    width: 220px;
    height: 220px;
    display: block;
    float: left;
    margin-left: 67.5px;
    margin-top: 45px;
/*    padding-left: 10px;*/
    padding-top: 30px;
    text-align: center;
    border: 1px solid lightgrey;
}
#lecflyis_title3 { /* 홈페이지_이용안내_타이틀3 */
    width: 930px;
    height: 150px; 
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}
#lecflyis_gohome { /* 홈페이지_이용안내_홈화면 이동 */
    width: 200px;
    height: 34px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    vertical-align: middle;
    background-color: black;
    color: white;
}
#lecflyis_gohome a {
    color: white;
    text-decoration: none;
}

/* ```````````````````````````````````````````````````````````````````````````````````홈페이지 안내_회원권*/

.lecflyticket {  /* 홈페이지_회원권_섹션 */
    width: 930px;
    height: 700px;
    margin: 15px auto 15px auto;
    padding-bottom: 30px;
    background: url(../img/photosample1.jpg);
    background-repeat: no-repeat;
    background-position: 0% 5%;
    text-align: center;
}
#lecflyticket_logo {  /* 홈페이지_회원권_로고*/
    margin-top: 45px;
}
#lecflyticket_noticebox {  /* 홈페이지_회원권_공지박스 */
    width: 795px;
    height: 90px;
    margin-left: 67.5px;
    padding-top: 20px;
    background-color: lightgrey;/* rgba(255,255,255,0.7); */
    text-align: center;
}
#lecflyticket_maintitle { /* 홈페이지_회원권_메인타이틀 */
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
}
#lecflyticket_box { /* 홈페이지_회원권_회원권종류 박스 */
    background-color: rgba(255,255,255,0.7);
    width: 220px;
    height: 300px;
    display: block;
    float: left;
    margin: 45px 0px 30px 67.5px;
    padding-top: 30px;
    text-align: center;
    border: 1px solid lightgrey;
}
#lecflyticket_gopay { /* 홈페이지_회원권_결제페이지 이동 */
    width: 100px;
    height: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    vertical-align: middle;
    background-color: black;
    color: white;
}
#lecflyticket_gopay a {
    color: white;
    text-decoration: none;
}


/* ```````````````````````````````````````````````````````````````````````````````````회원권/결제 팝업*/

.lecflyticket_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.lecflyticket_overlay:target {
  visibility: visible;
  opacity: 1;
}

.lecflyticket_popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 800px;
  height: 600px;
  position: relative;
  transition: all 5s ease-in-out;
}

.lecflyticket_popup .lecflyticket_title {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.lecflyticket_popup .close {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.lecflyticket_popup .close:hover {
  color: black;
}
.lecflyticket_popup .lecflyticket_content {
  font-size: 12px;
  width: 100%;
  overflow: auto;
  clear: both;
}

@media screen and (max-width: 400px){
  .lecflyticket{
    width: 400px;
  }
  .lecflyticket_popup{
    width: 400px;
  }
}












