@charset "UTF-8";
/* 펀딩리스트 출력 파트 */
.fumain_title {
	margin: 20px 0;
}
.fufunper{
    color: orange;
    font-size: 18px;
}
.funding_rate{
	font-weight: bolder;
    color: #800080;
}
.funding_date{
    font-weight: bolder;
    color: gray;
}
.funding_video_wrapper{
	width: 100%;
	height: 70vh;
	display: table;
	table-layout: fixed;
}
.fumain_title{
	margin: 20px 0;
}
/* 검색결과 파트 */
.fusort {
	display: inline;
	display: flex;
	float: right;
}

.fusort li select {
	font-size: 1.3em;
	margin-right: 30px;
}

.fu_search_wrapper {
	margin:0 auto;
	width:1200px;
}
.fusearch_top {
	margin: 15px 0 30px 15px;
	display: inline;
}
.fusearch_title {
	margin: 15px 0px 15px 0px;
}
.fufundINg{
    background-color: orange;
    color: white;
    
    
}
.fusearch_result {
	text-align: center;
	display: grid;
	margin-top: 30px;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 300px;
	grid-gap: 20px;
	margin-bottom: 100px;
	 grid-row-gap: 120px;
}
.fusearch_result_count {
	color: #ffa172;
	font-size: 1.4em;
}
.fuvideo_block {/* video 블럭 */
	border: 0.1px solid black;
	text-align: justify;
	margin-bottom: 50px;
}
.fuvideo_thumnail {/* video 썸네일 */
	width: 100%;
	height: 100%;
	background-color: gray;
}
.fuvideo_category {/* video 카테고리 */
	display: block;
	font-size: small;
	margin: 10px 0 10px 0;
}
.fuvideo_uploader {/* video 업로더 */
	display: inline block;
	font-size: small;
	
}

.fuvideo_title {/* video 타이틀 */
	display: inline;
    font-weight: bold;
}
.fuvideo_like {/* video 좋아요 */
	font-size: small;
	margin-top: 1px;
}
.fuvideo_like p{/* video 좋아요 */
    margin: 0px;
}
.fumain_recommend { /* 메인_추천 강의 */
	margin: 0 30px 150px 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 400px);
	grid-gap: 40px;
}
.fufunper{
    color: orange;
    font-size: 18px;
}
.fufunddate{
    font-weight: bolder;
    color: gray;
}
