/* 초기화 */
charset "UTF-8 "; * {
	font-family: 'Cafe24Simplehae', sans-serif;
}

/* wrapper( nav, content 포함) */
#fundingPayment_wrapper {
	margin: 0px auto;
	width: 1200px;
	min-height: 800px;
}

/* nav */
#fundingPayment_nav {
	width: 800px;
	height: inherit;
	float: left;
	display: inline-block;
}

#fundingPayment_title {
	position: relative;
	bottom: 15px;
	display: inline;
	font-size: 25px;
	font-weight: bold;
}

.fundingPayment_title_color {
	color: orange;
}

.fundingPayment_title_box {
	padding: 20px;
}

.fundingPayment_subtitle {
	float: right;
	position: relative;
	top: 33px;
}

span.order_sheet {
	color: black;
}

.basket, .order_finish {
	color: gray;
}

#fundingPayment_nav_table {
	position: relative;
	float: left;
	display: inline-block;
	border-collapse: collapse;
	margin-bottom: 15px;
}

#fundingPayment_table_font_bold {
	font-weight: bold;
}

.fundingPayment_nav_table_td {
	position: relative;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 15px 0px;
}

.fundingPayment_text_right {
	text-align: right;
}

.fundingPayment_delivery_info_table_td {
	width: 214px;
	position: relative;
	border-top: 1px solid black;
	padding: 15px 0px 4px 0px;
	border-collapse: collapse;
	border: 0px;
}

input[type=text], input[type=email], input[type=tel] {
	height: 30px;
	border-radius: 5px;
}

input[value=검색], input[value=등록] {
	position: relative;
	width: 65px;
	height: 35px;
	border-radius: 5px;
	padding-right: 0px;
	text-align: center;
	bottom: 1px;
	background-color: orange;
	font-weight: bold;
}

.fundingPayment_delivery_infor_table_td_last {
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

.fundingPayment_discount_info_table_td {
	width: 210px;
	height: 29px;
	position: relative;
	border-bottom: 1px solid black;
	padding: 15px 0px 15px 0px;
}

.fundingPayment_discount_info_table_td_top {
	padding-top: 0px;
}

.fundingPayment_number_color {
	color: red;
}

.fundingPayment_discount_info_td_bottom {
	border-bottom: 0px;
}

/* content */
#fundingPayment_content {
	width: 400px;
	height: 500px;
	display: inline-block;
	position: fixed;
	top: 168px;
}

#fundingPayment_content_table {
	border-collapse: collapse;
	width: 400px;
}

.fundingPayment_content_table_td {
	padding: 12px 0px;
}

.fundingPayment_content_table_td_bottom {
	border-bottom: 1px solid black;
	height: 18px;
}

.fundingPayment_table_agree_td {
	text-align: center;
	border-bottom: 1px solid black;
	padding: 15px 0px;
	border-collapse: collapse;
}

input[value=결제하기] {
	width: 400px;
	height: 35px;
	border-radius: 5px;
	bottom: 1px;
	background-color: orange;
	font-weight: bold;
	border-collapse: collapse;
}

.fundingPayment_payment_title_bold {
	font-weight: bold;
	letter-spacing: normal;
}

.fundingPayment_payment_agree_dummy {
	border-bottom: 1px solid black;
}

#fundingPayment_payment_mathod {
	width: 800px;
	height: 500px;
	height: inherit;
	display: inline-block;
	padding-bottom: 100px;
	letter-spacing: 40px;
}

#fundingPayment_payment_card, #fundingPayment_payment_phone,
	#fundingPayment_payment_account, #fundingPayment_payment_virtual,
	#fundingPayment_payment_kakaopay, #fundingPayment_payment_naverpay,
	#fundingPayment_payment_payco {
	margin-left: 20px;
	border: 0px;
	background-color: white;
}

.fundingPayment_last_button {
	padding: 15px 0px 15px 0px;
}