/* 초기화 */
charset "UTF-8 "; html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input,
	textarea, select, button, h1, h2, h3, h4, h5, h6, pre {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-family: 'Cafe24Simplehae', "돋움", Dotum, Droid Sans,
		AppleSDGothicNeo, AppleGothic, Helvetica, Sans-serif;
}

아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none ;
body, input, textarea, select, button {
	color: #585858;
	font-size: 12px;
	font-family: 'Cafe24Simplehae';
}

header, footer, nav, aside, section, article {
	display: block;
}

fieldset, img {
	border: 0;
}

img {
	-ms-interpolation-mode: bicubic !important;
	border: 0;
}

table {
	padding: 0;
	border-spacing: 0px;
	border: 0;
	border-collapse: collapse;
}

ul, ol {
	list-style: none;
}

a {
	color: #585858;
	text-decoration: none;
}

a:link {
	color: #606060;
	text-decoration: none;
}

a:hover {
	color: #ffa172;
}

.clear {
	clear: both;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Cafe24Simplehae', sans-serif;
	margin: 0px auto;
	box-sizing: border-box;
	color: black;
}

/* 레퍼 ( nav, content 포함) */
#funding_wrapper {
	width: 1200px;
	min-height: 700px;
}

/* nav */
#funding_nav {
	width: 800px;
	height: inherit;
	float: left;
	display: inline-block;
}

#funding_nav>.funding_video {
	padding: 15px 15px 15px 15px;
	width: 770px;
	height: 400px;
}

#funding_text {
	margin: 15px 15px 15px 1px;
	padding: 15px;
	background-color: darkgray;
	float: left;
}

#funding_text_bold {
	font-weight: bold;
}

#funding_tag_ul {
	list-style: none;
}

.funding_tag_li {
	font-size: 18pt;
	display: inline;
	letter-spacing: 3px;
	color: black;
}

.funding_tag_li_a {
	color: black;
	text-decoration: none;
}

.funding_tag_li_a:hover {
	text-decoration: underline;
}

#funding_lecture_info, #funding_reward_info, #funding_curri_info,
	#funding_writer_info, #funding_qna_info {
	font-size: 40px;
	display: inline;
	padding-left: 10px;
	background-color: orange;
}

/* nav의 강의소개 */
#funding_lec {
	text-align: center;
	font-size: 12pt;
}

#funding_lec>strong {
	font-size: 25pt;
}

#funding_lec>.em {
	font-size: 20pt;
}

#funding_lec>img {
	width: 400px;
	height: 400px;
}

/* nav 리워드 */
#funding_box, #funding_box2, #funding_box3, #funding_box4, #funding_box5,
	#funding_box6 {
	margin: 15px;
	padding: 15px;
	width: 195px;
	height: 200px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
}

/* nav 커리큘럼 */
#funding_table {
	margin: 15px;
	width: 750px;
	font-weight: bold;
}

.funding_table_td {
	padding: 5px;
}

.funding_tb_num {
	color: red;
}

#funding_wri {
	font-size: 17px;
	line-height: 20px;
}

input[type=date] {
	border: none;
	background-color: lightgray;
	color: orange;
}

textarea[name=feedback] {
	margin: 10px 0px;
	border-radius: 5px;
	width: 700px;
}

input[value=입력] {
	position: relative;
	bottom: 42px;
	height: 70px;
	width: 70px;
	display: inline-block;
	border-radius: 5px;
	color: white;
	background-color: gray;
}

#funding_content {
	width: 400px;
	height: 500px;
	display: inline-block;
	position: fixed;
	top: 110px;
}

#funding_h1 {
	font-size: 40px;
}

#funding_wri_name {
	text-align: right;
}

.funding_like_num {
	font-size: 12pt;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	background-color: purple;
	float: right;
}

.fa-heart {
	color: white;
}

.fa-heart:hover {
	color: red;
}

.funding_count_num {
	color: orange;
}

#funding_content>ul li {
	display: inline-block;
	background-color: darkgray;
	font-weight: bold;
	font-size: 15pt;
}

#funding_content .funding_reward_select {
	font-weight: bold;
	font-size: 15pt;
}

#funding_content .funding_reward_select:hover {
	color: white;
}

#funding_content .funding_reward_info {
	font-weight: bold;
	float: right;
}

#funding_content .funding_reward_info:hover {
	color: white;
}

#funding_content #funding {
	font-size: 20pt;
	border-radius: 5px;
}

#funding_title {
	position: relative;
	bottom: 3px;
	padding: 5px;
	border: 1px solid darkgray;
	border-radius: 5px;
	font-weight: bold;
	background-color: darkgray;
}

#funding_title:hover {
	color: white;
}
}
