@font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
    margin: 0px auto;
    font-family: 'Cafe24Simplehae', sans-serif;
}
/* 헤더 */
#header {
    padding: 15px;
    width: 1170px;
    min-width: 1050px;
    height: 70px;
    text-align: right;
}

#header > h1 {
    text-align: left;
}

h1 > img {
    width: 50px;
    height: 50px;
}

/* 레퍼 ( nav, content 포함) */

#funding_wrapper {
    width: 1200px;
}

/* nav */

#funding_nav {
    width: 800px;
    height: inherit;
    float: left;
    display: inline-block;
}

#funding_nav > video {
    padding: 15px 15px 15px 15px;
    width: 770px;
    height: 400px;
}

#funding_text {
    margin: 15px 15px 15px 1px;
    padding: 15px;
    background-color: darkgray;
    float: left;
}

#funding_text_bold {
	font-weight: bold;
}

#funding_nav > ul {
    list-style: none;
}

#funding_nav > ul li {
    font-size: 18pt;
    display: inline;
    letter-spacing: 3px;
}

#funding_nav > ul li a {
    text-decoration: none;
}

#funding_nav > ul li a:hover {
    text-decoration: underline;
}

#funding_nav > h1 {
    display: inline;
    padding-left: 10px;
    background-color: orange;
}

#lecture_info, #reward_info, #curri_info, #writer_info, #qna_info {
	font-size: 40px;
} 

/* nav의 강의소개 */

#lec {
    text-align: center;
    font-size: 12pt;
}
#lec > strong {
    font-size: 25pt;
}

#lec > .em {
    font-size: 20pt;
}

#lec > img {
    width: 400px;
    height: 400px;
}

/* nav 리워드 */

#box, #box2, #box3, #box4, #box5, #box6 {
    margin: 15px;
    padding: 15px;
    width: 195px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
}

/* nav 커리큘럼 */

table#tb {
    margin: 15px;
    width: 750px;
    font-weight: bold;
}

.tb_num {
    color: red;
}


#wri {
    padding: 15px;
    font-size: 17px;
    line-height: 20px;
}

input[type=date] {
    border: none;
    background-color: lightgray;
    color: orange;
}
textarea {
    margin: 10px;
    border-radius: 5px;
    width: 700px;
}
input[value=입력] {
    position: relative;
    bottom: 46px;
    height: 82px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    background-color: gray;
}

#funding_content {
    width: 400px;
    height: 500px;
    display: inline-block;
    position: fixed;
    top: 110px;
}

#funding_h1 {
	font-size: 40px;
}

#wri_name {
    text-align: right;
}

.like_num {
    font-size: 12pt;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    float: right;
}

.like_num:hover {
    color: red;
}

.count_num {
    color: orange;
}

#funding_content > ul li {
    display: inline-block;
    background-color: darkgray;
    font-weight: bold;
    font-size: 15pt;
    
}

#funding_content .reward_select {
    font-weight: bold;
    font-size: 15pt;
}

#funding_content .reward_select:hover {
    color: white;
}

#funding_content .reward_info {
    font-weight: bold;
    float: right;
}

#funding_content .reward_info:hover {
    color: white;
}

#funding_content #funding {
    font-size: 20pt;
    border-radius: 5px;
}

#funding_title {
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-weight: bold;
    background-color: darkgray;
}

#funding_title:hover {
    color: white;
}

/* footer */

#footer {
    margin: auto;
    padding: 50px 100px 100px 100px;
    width: 1000px;
    height: 50px;
    background-color: orange;
    clear: both;
}
