/* 초기화 */
charset "UTF-8 "; html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input,
	textarea, select, button, h1, h2, h3, h4, h5, h6, pre {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-family: 'Cafe24Simplehae', "돋움", Dotum, Droid Sans,
		AppleSDGothicNeo, AppleGothic, Helvetica, Sans-serif;
}

아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none ;
body, input, textarea, select, button {
	color: #585858;
	font-size: 12px;
	font-family: 'Cafe24Simplehae';
}

header, footer, nav, aside, section, article {
	display: block;
}

fieldset, img {
	border: 0;
}

img {
	-ms-interpolation-mode: bicubic !important;
	border: 0;
}

table {
	padding: 0;
	border-spacing: 0px;
	border: 0;
	border-collapse: collapse;
}

ul, ol {
	list-style: none;
}

a {
	color: #585858;
	text-decoration: none;
}

a:link {
	color: #606060;
	text-decoration: none;
}

a:hover {
	color: #ffa172;
}

.clear {
	clear: both;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px auto;
	font-family: 'Cafe24Simplehae', sans-serif;
}

/* wrapper( nav, content 포함) */
#goodsPayment_wrapper {
	width: 1200px;
	min-height: 800px;
}

/* nav */
#goodsPayment_nav {
	width: 800px;
	height: inherit;
	float: left;
	display: inline-block;
}

#goodsPayment_title {
	position: relative;
	bottom: 15px;
	display: inline;
	font-size: 25px;
	font-weight: bold;
}

.goodsPayment_title_color {
	color: orange;
}

#goodsPayment_nav_table {
	position: relative;
	float: left;
	display: inline-block;
	border-collapse: collapse;
	margin-bottom: 15px;
}

#goodsPayment_table_font_bold {
	font-weight: bold;
}

.goodsPayment_nav_table_td {
	position: relative;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 15px 0px;
}

.goodsPayment_text_right {
	text-align: right;
}

.goodsPayment_delivery_info_table_td {
	width: 214px;
	position: relative;
	border-top: 1px solid black;
	padding: 15px 0px 4px 0px;
	border-collapse: collapse;
	border: 0px;
}

input[type=text], input[type=email], input[type=tel] {
	height: 30px;
	border-radius: 5px;
}

input[value=검색], input[value=등록] {
	position: relative;
	width: 65px;
	height: 35px;
	border-radius: 5px;
	padding-right: 0px;
	text-align: center;
	bottom: 1px;
	background-color: orange;
	font-weight: bold;
}

.goodsPayment_delivery_infor_table_td_last {
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

.goodsPayment_discount_info_table_td {
	width: 210px;
	height: 29px;
	position: relative;
	border-bottom: 1px solid black;
	padding: 15px 0px 15px 0px;
}

.goodsPayment_discount_info_table_td_top {
	padding-top: 0px;
}

.goodsPayment_number_color {
	color: red;
}

.goodsPayment_discount_info_td_bottom {
	border-bottom: 0px;
}

/* content */
#goodsPayment_content {
	width: 400px;
	height: 500px;
	display: inline-block;
	position: fixed;
	top: 205px;
}

#goodsPayment_content_table {
	border-collapse: collapse;
	width: 400px;
}

.goodsPayment_content_table_td {
	padding: 12px 0px;
}

.goodsPayment_content_table_td_bottom {
	border-bottom: 1px solid black;
	height: 18px;
}

.goodsPayment_table_agree_td {
	text-align: center;
	border-bottom: 1px solid black;
	padding: 15px 0px;
	border-collapse: collapse;
}

input[value=결제하기] {
	width: 400px;
	height: 35px;
	border-radius: 5px;
	bottom: 1px;
	background-color: orange;
	font-weight: bold;
	border-collapse: collapse;
}

.goodsPayment_payment_title_bold {
	font-weight: bold;
	letter-spacing: normal;
}

.goodsPayment_payment_agree_dummy {
	border-bottom: 1px solid black;
}

#goodsPayment_payment_mathod {
	width: 800px;
	height: 500px;
	height: inherit;
	display: inline-block;
	padding-bottom: 100px;
	letter-spacing: 40px;
}

#goodsPayment_payment_card, #goodsPayment_payment_phone,
	#goodsPayment_payment_account, #goodsPayment_payment_virtual,
	#goodsPayment_payment_kakaopay, #goodsPayment_payment_naverpay,
	#goodsPayment_payment_payco {
	margin-left: 20px;
	border: 0px;
	background-color: white;
}

.goodsPayment_last_button {
	padding: 15px 0px 15px 0px;
}
