charset "UTF-8 ";
	html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input,
	textarea, select, button, h1, h2, h3, h4, h5, h6, pre {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-family: 'Cafe24Simplehae', "돋움", Dotum, Droid Sans,
		AppleSDGothicNeo, AppleGothic, Helvetica, Sans-serif;
}

/* 아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none; */
body, input, textarea, select, button {
	color: #585858;
	font-size: 12px;
	font-family: 'Cafe24Simplehae';
}

header, footer, nav, aside, section, article {
	display: block;
}

fieldset, img {
	border: 0;
}

img {
	-ms-interpolation-mode: bicubic !important;
	border: 0;
}

table {
	padding: 0;
	border-spacing: 0px;
	border: 0;
	border-collapse: collapse;
}

ul, ol {
	list-style: none;
}

a {
	color: #585858;
	text-decoration: none;
}

a:link {
	color: #606060;
	text-decoration: none;
}

a:hover {
	color: #ffa172;
}

.clear {
	clear: both;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff');
	format ('woff');
	font-weight: normal;
	font-style: normal;
}
#playWrap {
	width: 1200px;
	box-sizing: border-box;
	margin: 30px auto;
}

#Tcontent {
	display: flex;
}

#Cleft {
	width: 800px;
}

#Cright {
	width: 400px;
	margin-left: 10px;
}

#PvideoList {
	height: 1025px;
	display: flex;
	overflow-y: scroll;
	overflow-x: hidden
}

.PvideoContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#contentEach {
	width: 100%;
	height: 100px;
}

.PvideoContent div {
	display: flex;
	width: 100%;
	height: 100px;
}

.Limg {
	margin-top: 6px;
}

.Timg {
	margin-left: 15px;
	white-space: noWrap;
	text-overflow: ellipsis;
	overflow: hidden;
	flex-direction: column;
}
.Timg span{
	margin: 0px;
	
}
.playimgs{
box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;	
}
.Timg h4, p {
	font-size: 17px;
}

.Timg p {
	margin: 15px 0px;
	text-align: right;
}

.PvideoContent img {
	width: 150px;
	height: 100%;
}

#Pvideo {
	height: 443px;
}

#Pvideo video {
	width: 100%;
	height: 443px;
}

.vertical {
	margin: 15px 0px;
	height: 20px;
}

.vertical p {
	font-size: 15px;
}

.bt1 {
	font-size: 20px;
	border-radius: 10px;
}
.bt1 b {
	font-size: 20px;
	
	
}
.sp b{
	margin-left: 600px;
}

#aboutText {
	overflow-y: scroll;
	height: 315px;
	padding-left: 20px;
}
#aboutText h3{
	margin-top: 8px;

	}
#aboutText p{
	white-space: pre-Wrap;
	line-height: 15px;
	padding-left: 50px;
	font-size: 14px;
	margin-top: 20px;
	text-overflow: ellipsis;
}

#text2 {
	margin-top: 40px;
}

#uplorder {
	width: 100%;
	height: 100px;
	position: relative;
}

#usr {
	border-radius: 50px;
	width: 70px;
	height: 70px;
}

#uplorderplayWrap {
	margin: 30px 0px;
	text-overflow: ellipsis;
	/*     border-top: 1px solid black; */
	/*     border-bottom: 1px solid black; */
}

#usrname {
	position: absolute;
	top: 8px;
	left: 80px;
}

.usrab {
	position: absolute;
}

#usrpick {
	right: 7px;
	bottom: 5px;
}

#usrtitle {
	left: 80px;
	top: 30px;
}

.borderw th {
	width: 300px;
	border-bottom: 1px solid black;
	padding: 10px 0px;
	background-color: antiquewhite;
}

.borderw td {
	width: 900px;
	padding-left: 10px;
	border-bottom: 1px solid black;
}

.borderw p {
	margin: 15px 0px;
}

.borderw table {
	border: 2px solid black;
}

.borderw span {
	margin-left: 700px;
}

#sub input {
	width: 120px;
	height: 30px;
	border-radius: 40px;
}

#sub {
	width: 100%;
}
.alter{
	cursor:Pointer
}
#subma {
	margin: 20px auto;
	text-align: center;
}

.borderw li {
	display: inline-block;
	margin-right: 10px;
}

.borderw label {
	margin-left: 5px;
}

.borderw * {
	font-size: 13px;
}

.borderw .h {
	font-size: 25px;
}
.alter p.movieName{
display: none;	
}