/* 초기화 */
charset "UTF-8 "; html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input,
	textarea, select, button, h1, h2, h3, h4, h5, h6, pre {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-family: 'Cafe24Simplehae', "돋움", Dotum, Droid Sans,
		AppleSDGothicNeo, AppleGothic, Helvetica, Sans-serif;
}

아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none ;
body, input, textarea, select, button {
	color: #585858;
	font-size: 12px;
	font-family: 'Cafe24Simplehae';
}

header, footer, nav, aside, section, article {
	display: block;
}

fieldset, img {
	border: 0;
}

img {
	-ms-interpolation-mode: bicubic !important;
	border: 0;
}

table {
	padding: 0;
	border-spacing: 0px;
	border: 0;
	border-collapse: collapse;
}

ul, ol {
	list-style: none;
}

a {
	color: #585858;
	text-decoration: none;
}

a:link {
	color: #606060;
	text-decoration: none;
}

a:hover {
	color: #ffa172;
}

.clear {
	clear: both;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Cafe24Simplehae', sans-serif;
	margin: 0px auto;
	box-sizing: border-box;
	color: black;
}

/* 레퍼 ( nav, content 포함) */
#register_wrapper {
	width: 1200px;
	min-height: 700px;
}

/* nav */
#register_nav {
	width: 800px;
	height: inherit;
	float: left;
	display: inline-block;
}

#register_nav>.register_video {
	padding: 15px 15px 15px 15px;
	width: 774px;
	height: 400px;
}

#register_tag_ul {
	list-style: none;
}

.register_tag_li {
	font-size: 18pt;
	display: inline;
	letter-spacing: 3px;
	color: black;
}

.register_tag_li_a {
	color: black;
	text-decoration: none;
}

.register_tag_li_a:hover {
	text-decoration: underline;
}

#register_lecture_info, #register_kit_info, #register_curri_info,
	#register_writer_info, #register_review_info, #register_qna_info {
	font-size: 40px;
	display: inline;
	padding-left: 10px;
	background-color: orange;
}

#register_lec {
	text-align: left;
	font-size: 12pt;
	min-height: 350px;
	letter-spacing: 3px;
	line-height: 20px;
	white-space: pre-line;
}

.register_soap_img {
	display: inline-block;
	text-align: center;
	padding: 25px;
	width: 350px;
	height: 250px;
	float: left;
}

#register_tb {
	margin: 15px;
	width: 750px;
	font-weight: bold;
	border-top: 1px solid lightgray;
	border-collapse: collapse;
}

.register_tb_num {
	color: orangered;
}

.register_td {
	border-bottom: 1px solid lightgray;
	padding: 15px;
}

#register_wri {
	padding: 15px;
	font-size: 15px;
	letter-spacing: 3px;
	line-height: 20px;
	white-space: pre-line;
}

#wri_name {
	text-align: right;
}

#register_review {
	text-align: left;
	margin: 15px;
	white-space: pre-line;
}

.review_name, .review_week {
	font-weight: normal;
	font-weight: bold;
}

.review_week {
	color: purple;
}

#register_review a {
	text-decoration: none;
	color: gray;
}

#register_review a.on {
	color: orange;
}

input[type=date] {
	border: none;
	color: orange;
}

textarea[name=feedback] {
	margin: 10px 0px;
	border-radius: 5px;
	width: 700px;
}

input[value=입력] {
	position: relative;
	bottom: 42px;
	height: 70px;
	width: 70px;
	display: inline-block;
	border-radius: 5px;
	color: white;
	background-color: gray;
}

#register_content {
	width: 375px;
	height: 500px;
	display: inline-block;
	position: fixed;
	top: 110px;
}

#register_content_title {
	font-size: 40px;
}

.register_count_num {
	color: orange;
}

#register_content>ul li {
	display: inline-block;
	background-color: darkgray;
	font-weight: bold;
	font-size: 15pt;
}

#register_content .register_kit_select {
	font-weight: bold;
	font-size: 15pt;
}

#register_content .register_kit_select:hover {
	color: white;
}

#register_content .register_kit_info {
	font-weight: bold;
	float: right;
}

#register_content .register_kit_info:hover {
	color: white;
}

#register_content #register_soap {
	font-size: 15pt;
	border-radius: 5px;
	width: 250px;
}

#register_soap_title {
	width: 100px;
	padding: 3px;
	border: 1px solid darkgray;
	border-radius: 3px;
	font-weight: bold;
	background-color: lightgray;
	float: right;
	position: relative;
	text-align: center;
}

#register_soap_title:hover {
	color: white;
}

.register_like_num {
	position: relative;
	top: 10px;
	font-size: 12pt;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	background-color: purple;
}

.fa-heart {
	color: white;
}

.fa-heart:hover {
	color: red;
}

.register_lec_pick {
	display: block;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-weight: bold;
	background-color: lightgray;
	float: right;
	width: 250px;
	text-align: center;
}

#register_lec_apply {
	display: block;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-weight: bold;
	background-color: lightgray;
	float: right;
	width: 357px;
	text-align: center;
}

.register_lec_pick:hover {
	color: white;
}

#register_warning {
	text-align: center;
	color: orangered;
}

#register_lec_apply:hover {
	color: white;
}
