/* body => login_wrap */
/* top => login_top */
/* middle => login_middle */
/* bottom => login_bottm */
/* title => login_title */
/* sub_title => login_subtitle */
/* info => login_etc */
/* link => login_linked */
<link type="text/css" rel="stylesheet" href="main.css">
.login_a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid white;
}

.logo_link:hover{
	color: none;
	border-bottom: none;
}
#emtpy_space{
	height: 150px;
}
#login_wrap{
	margin: auto;
	text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    height: 450px;
}
#login_top{
    margin: auto;
    padding: 30px 30px 0 30px;
}
#login_title{
    margin: auto;
    padding-top: 30px;
}
#login_subtitle{
    padding-top: 30px;
    font-size: 2.5em;
}

#login_middle{
    margin: 25px;
}
#login, #pw{
    font-size: 2em;
    margin: 5px;
    text-align: center;
    width: 280px;
}
#login{
    
}
#pw{
    
}
#login_etc{
    min-width: 250px;
    display: inline-block;
    font-size: 12px;
}
#find_id_pw{
    float: left;
}
#register{
    float: right;
}
.login_linked:hover{
    border-bottom: 1px solid #FF4500;
    color: #FF4500;
}

#login_bottom{
    margin: auto;
}
#login_btn{
    width: 100px;
    height: 25px;
    background-color: orange;
	padding-top: 10px;
    margin: auto;
}
#login_btn a{
	border-bottom: none;
	font-size: 1.5em;
}
#login_btn:hover{
    background-color: #FF4500;
}
#login_btn a:hover{
	color: black;
	border-bottom: none;
}


