html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input,
	textarea, select, button, h1, h2, h3, h4, h5, h6, pre {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-family: 'Cafe24Simplehae', "돋움", Dotum, Droid Sans,
		AppleSDGothicNeo, AppleGothic, Helvetica, Sans-serif;
}

/* 아이폰 가로모드 글자 크기 확대 방지: -webkit-text-size-adjust:none; */
body, input, textarea, select, button {
	color: #585858;
	font-size: 12px;
	font-family: 'Cafe24Simplehae';
}

header, footer, nav, aside, section, article {
	display: block;
}

fieldset, img {
	border: 0;
}

img {
	-ms-interpolation-mode: bicubic !important;
	border: 0;
}

table {
	padding: 0;
	border-spacing: 0px;
	border: 0;
	border-collapse: collapse;
}

ul, ol {
	list-style: none;
}

a {
	color: #585858;
	text-decoration: none;
}

a:link {
	color: #606060;
	text-decoration: none;
}

a:hover {
	color: #ffa172;
}

.clear {
	clear: both;
}

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff');
	format ('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Cafe24Simplehae';
}

/* 헤더파트 */
.header {
	display: block;
	font-weight: bold;
}

.header_wrapper {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	max-width: 1200px;
	align-items: center;
}

.header_logo { /* 헤더 로고 img */
	width: 180px;
	height: 100%;
	padding: 15px 15px 15px 0;
}

.header_column_logo { /* 헤더 로고열  */
	float: left;
}

.header_column_search { /* 헤더 검색창열 */
	width: 370px;
	float: left;
	padding-top: 35px;
	padding-left: 30px;
	border-radius: 5px;
	background-color: white;
}
#backC{
	position: relative;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.16) 0px 1px 3px 0px;
}
input.search_btn{
	display: hidden;
	background-color: white;
	border: 0px;
	position: absolute;
	z-index: -1;
	
}
.search_bar { 
border: 0px; 
margin-left: 20px;
height: 32px;
width: 270px;

}
input:focus {outline:none;} 
.header_column_menu { /* 헤더 메뉴열 */
	float: right;
	text-align: right;
	padding-top: 40px;
}

.header_column_menu li { /* 헤더 메뉴 목록 */
	float: left;
	font-size: 1.2em;
	margin-left: 30px;
}

/* 메인 광고 배너: 가로 full, slide */


/* .main { */
/* 	min-height: 700px; */
/* 	margin: 0 auto; */
/* 	width: 1200px; */
/* } */

/* 메인파트 */
.main_content { /* 메인배너 하단 */
	min-height: 700px;
	margin: 0 auto;
/* 	text-align: center; */
	width: 100%;
}
.main_title {
	
}
.main_banner { /* 메인_배너 파트 */
	margin: 0 auto;
	width: 100%;
	height: 440px;
	margin-bottom: 60px;
	background-color: rgb(255,165,0,0.25);
	/* background-color: #D3D3D3; */
}
.main_wrapper { /* 메인 파트: width 1200 */
	width: 1200px;
	text-align: justify;
}

.main_category { /* 메인_카테고리 */
	margin-bottom: 80px;
	text-align: center;
}

.category_block i { /* 메인_카테고리블럭아이콘 */
	margin-bottom: 15px;
}

.category_block { /* 메인_카테고리블럭 */
	display: inline-block;
	text-align: center;
	margin: 10px 40px 0px 40px;
	cursor:pointer;
}
.main_title {
	margin-bottom: 15px;
}
.main_recommend { /* 메인_추천 강의 */
	margin: 0 30px 150px 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 450px);
	grid-gap: 40px;
}

.main_videos { /* 메인_일반 강의 */
	margin: 10px 30px 30px 30px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 210px);
	grid-auto-flow: row dense;
	grid-gap: 15px;
	grid-row-gap: 60px;
}

/* 검색결과 파트 */
.sort {
	display: inline;
	display: flex;
	float: right;
}

.sort li select {
	font-size: large;
	margin-right: 30px;
}

.search_top {
	margin: 15px 0 0 15px;
	display: inline;
}

.search_result {
	text-align: center;
	display: grid;
	margin: 10px 30px 30px 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 300px;
	grid-gap: 40px;
	margin-bottom: 100px;
}

/* video 썸네일 파트 */
.video_block {
	border: 0.1px solid black;
	text-align: justify;
	margin-bottom: 50px;
}

.video_thumnail {
	width: 100%;
	height: 100%;
	background-color: gray;
}

.video_category {
	display: block;
	font-size: small;
	margin: 10px 0 10px 0;
}

.video_uploader {
	display: inline;
	font-size: small;
}

.video_title {
	display: inline;
}

.video_like {
	font-size: small;
	margin-top: 10px;
}

.video_like i {
	color: red;
}
/* 1대1문의파트 */
.contact {
	position: sticky;
	margin-left: 15px;
	bottom: 200px;
}

/* 푸터파트 */
.footer {
	clear: both;
	display: block;
	background-color: gold;
	height: 200px;
	margin: 0 auto;
	text-align: center;
	background-color: lightgrey;
	z-index: 999;
}

.footer_wrapper {
	width: 100%;
	height: 200px;
	width: 1200px;
	margin: 0 auto;;
	text-align: justify;
}

.footer_wrapper p {
	padding-left: 150px;
	margin-bottom: 15px;
}

.footer_title {
	padding-top: 50px;
	font-size: 1.2em;
	font-weight: 700;
}

.footer_link {
	
}

.footer_info {
	
}