@font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    font-family: 'Cafe24Simplehae'; 
}



.container1 div { /* 배너 프레임 요소 */
    width: 1000px;
    height: 400px;
    line-height: 46px;
    text-align: center;
    box-shadow: 0 0 10px #666;
    border-radius: 5px;
    position: absolute;
    left: 32%;/* 26.5%;34%; */
    top: 120px;
    margin-left: -150px;
    color: #000;
    cursor: pointer;
    font-size: 60px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    transform-style: preserve-3d;
    transform-origin: center center;
}
.container1 a {
	background-color: white;
	width: 125px;
	height: 45px;
	left: 136px;
    top: 205px;
    color: #000;
    cursor: pointer;
	position: absolute;
	color: black;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	/* z-index: 50; */
}
.container1 a:hover {
	background-color: orange;
	color: black;
}
.container1 div:nth-child(1) { /* 1번 배너 */
    border: 5px solid white;
    transform: perspective(200px) translateZ(-60px) translateX(-300px);
    z-index: 1;
}

.container1 div:nth-child(2) { /* 2번 배너 */
    border: 5px solid white;
    transform: perspective(200px) translateZ(-40px) translateX(-200px);
    z-index: 2;
}

.container1 div:nth-child(3) { /* 3번 배너 */
    border: 5px solid white;
    transform: perspective(200px) translateZ(-20px) translateX(-100px);
    z-index: 3;
}

.container1 div:nth-child(4) { /* 4번 배너 */
   border: 5px solid white;
    transform: perspective(200px) translateZ(0px) translateX(0px);
    z-index: 4;
}

.container1 div:nth-child(5) { /* 5번 배너 */
    border: 5px solid white;
    transform: perspective(200px) translateZ(-20px) translateX(100px);
    z-index: 3;

}

.container1 div:nth-child(6) { /* 6번 배너 */
    border: 5px solid white;
    transform: perspective(200px) translateZ(-40px) translateX(200px);
    z-index: 2;
}

.container1 div:nth-child(7) { /* 7번 배너 */
    border: 5px solid white;
    transform: perspective(200px) translateZ(-60px) translateX(300px);
    z-index: 1;
}















