/* 전처리 */
#mypage_wrap *{
	box-sizing: border-box;
}
a{
    text-decoration: none;
}
.mypage_a:hover{
    border-bottom: 1px solid #FF4500;
    color: #FF4500;
}
#mypage_wrap{
	margin: 0px auto;
	width: 1200px;
}

/* 상단영역 */
#mypage_top{
    width: 1200px;
    height: 250px;
    margin: 0px auto 0px auto;
    /* background-color: grey; */
   /*  border-bottom: 1px solid grey;
    border-top: 1px solid grey; */
}
#mypage_pic{
    /* border: 1px solid red; */
	display:inline-block;
    width: 208px;
    height: 208px;
    float: left;
}
#mypage_pic img {
	border: 1px dashed grey;
	border-radius: 100px;
	margin: 30px;
	float: left;
	opacity: 0.7;
}
#mypage_pic input {
	width: 100px;
	height: 30px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;
	color: darkgrey;
}
#mypage_mb_IF {
    /* border: 1px solid green; */
	display:inline-block;
	float: left;
    width: 208px;
    height: 208px;
    padding: 60px 20px 40px 20px;
}
.mypage_mb_t {
    /* border-right: 1px solid blue; */
	display:inline-block;
	float: right;
    width: 208px;
    height: 208px;
    padding: 70px 20px 30px 20px;
    text-align: center;
}
#mypage_mb_IF label {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}
.mypage_mb_t label {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.mypage_mb_t span {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.mypage_mb_t p a{
	font-size: 12px;
	text-align: center;
	color: grey;
}
.mypage_mb_t p a:hover{
	color: purple;
}
.mypage_mb_t b {
	font-size: 18px;
	text-align: center;
	color: orangered;
	font-weight: strong;
}
#mypage_mb_info{
	border: 1px solid black;
	display:inline;
	width: 600px;
    height: 250px;
}
.mypage_mb_info{
	display: inline-block;
	width: 180px;
}

/* 중간 영역 */
#mypage_middle{
    /* padding: 0 35px 0 35px; */
    width: 1200px;
    height: 100px;
    background-color: light-grey;
}
#mypage_menu{
    height: 70px;
    width: 1050px;
    list-style: none;
    text-align: center;
}
#mypage_menu li{
    display: inline-block;
    padding: 0 15px 0 15px;
}

.mypage_tabs {
	width: 1200px;
	height: 50px;
	text-align: center;
	/* margin-top:10px; */
}
.mypage_tabs #tabs-mom {
	width: 1200px;
	height: 50px;
	background-color: grey;
	padding-top: 15px;
	padding-bottom: auto;
}
.mypage_tabs #tabs-mom > ul li a{ /* 상위 탭 메뉴 */
	font-size: 20px;
	display: inline;
	float: left;
	margin-left: 20px;
	color: white;
}
.mypage_tabs #tabs-mom > ul li a:hover{
	color: orange;
	border-bottom: 1px solid orangered;
}
.mypage_tabs_li {
	height: 40px;
	border-bottom: 1px solid lightgrey;
}
.mypage_tabs_li > ul li a{/* 하위 탭 메뉴 */
	font-size: 16px;
	display: inline;
	float: left;
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
.mypage_tabs_li > ul li a:hover{
	color: orange;
	border-bottom: 1px solid orangered;
}
/* 하단영역 */
#mypage_bottom{
    min-height: 50vh; 
}

#mypage_lec_ing, #mypage_lec_showen, #mypage_lec_reco{
    display: inline-block;
    height: 440px;
    width: 1010px;
    margin: 0 60px 0 60px;
    text-align: center;
}
#mypage_lec_ing{
    
}
#mypage_lec_showen{
    
}
#mypage_lec_reco{
    
}
.mypage_lec, .mypage_lec_img, .mypage_lec_des, .mypage_lec_title{
    width: 320px;   /*임시로 사이즈 지정 후에 260으로 바꿔야됨.*/;
    margin: 0px auto;
}
.mypage_lec{
    border: 1px solid black;
    height: 320px;
    /*margin: 20px;*/
    display: inline-block;
	box-sizing: border-box;
}
.mypage_lec_img{
/*     border: 1px solid black; */
    height: 200px;
}
.mypage_lec_title{
    border: 1px solid black;
    height: 50px;
    font-size: 18px;
    padding-top: 20px;
}
.mypage_lec_des{
    border: 1px solid black;
    height: 90px;
    padding-top: 25px;
}
.mypage_top_side h3{
	float: left;
	font-size: 20px;
	margin-left: 60px;
	margin-bottom: 30px;
}
.mypage_top_side div{
	float: right;
	margin-right: 60px;
}

.mypage_bottom_info {
		width: 1200px;
		margin: 30px 0px 0px 0px;
		text-align: center;
		padding-bottom: 30px;
}
.mypage_bottom_title {
	margin-bottom: 30px;
	text-align: justify;
	padding-left: 20px;
}
.mypage_table table {
	width: 100%;
}
.mypage_table {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 90%;
	text-align: center;
}
 .mypage_table table th {
	border-bottom: 1px solid gray;
	padding: 20px;
	text-align: center;
	background-color: lightgray;
}
 .mypage_table table td {
	border-bottom: 1px solid gray;
	padding: 20px;
	text-align: center;
}
#mypage_table_numbering { /* QnA _ 테이블_ 페이지넘버링 */
	margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
#mypage_table_numbering b{
    color: orange;
}


