/* @charset "UTF-8";
mypage의 update member 줄여서 um 입니다.

#mypage_um_main {
	position: relative;
	left: 400px;
	text-align: left;
}

li.mypage_umli {
    margin-bottom: 5px;
}

input.mypage_uminput{
    height: 30px;
    font-size: 18px;
}

div.mypage_umdiv {
    width: 400px;
    padding-bottom: 10px;
}
.inputs{
    width: 400px;
}
.um_pic{
	text-align: center;
}
.um_title{
	margin-bottom: 20px;
}
.um_li_title{
	margin-top:10px;
}
.um_subtitle{
	font-size: 20px;
	margin-top: 10px;
}
#um_wrap{
	border: 1px solid black;
	margin: 0px auto;
	padding: 0px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

이름

생일

성별
#um_gender{
    padding-left: 150px;
}
.gender_sub_title{
	font-size: 1.7em;
	height: 30px;
}
로그인

비밀번호

전화번호
.um_ph_padding{
	padding-left: 100px;
}
.um_mb_ph{
	width: 60px;
}

이메일

주소
#um_mb_adress_num{
	width: 330px;
}
#find_adress_btn{
	background-color: orange;
}
#um_find_adress{
	width: 69px;
	height: 30px;
	background-color: orange;
	border: 1px solid black;
}

하단부
.um_bottom{
	display: inline-block;
	
}
#um_submit_btn{
	margin: auto;
	background-color: orange;
	width: 400px;
	height: 50px;
    text-align: center;
	line-height: 60px;
	font-size: 2.0em;
}
.um_center{
}

mypage의  update pw 줄여서 upw 입니다.

#mypage_upw_main {
	width: 600px;
	height: 400px;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px, rgba(41, 42, 43, 0.34) 0px 1px 3px 0px;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 1.4em;
}

#upw_changepw_box {
	top: -160px;
	position: relative;
	border: 1px dotted red;
	
}

.upw_label {
	display: inline-block;
	width: 140px;
	height: 40px;
	text-align: left;

}
.upw_label1 {
	margin-bottom: 10px;
}

#upw_oldpw, #upw_newpw, #upw_newpw_re {
	width: 300px;
	height: 40px;
	border: 1px solid black;
	border-radius: 4px;
}

#upw_changepw_box {
	margin-top: 180px;
}

#upw_nextbtn {
	margin: 10px 0px 0px 280px;
	width: 80px;
	height: 30px;
	font-size: 1.4em;
	
}

 */