/* 전처리 */
#mypage_wrap *{
	box-sizing: border-box;
}
a{
    text-decoration: none;
}
.mypage_a:hover{
    border-bottom: 1px solid #FF4500;
    color: #FF4500;
}
#mypage_wrap{
	margin: 0px auto;
	width: 1200px;
}

/* 상단영역 */
#mypage_top{
    width: 1140px;
    height: 200px;
    margin: 30px auto;
}
#mypage_pic{
    border: 1px solid black;
	display:inline-block;
    width: 368px;
    height: 200px;
}
#mypage_mb_info{
	border: 1px solid black;
	display:inline-block;
	width: 768px;
    height: 200px;
}
.mypage_mb_info{
	display: inline-block;
	width: 180px;
}

/* 중간 영역 */
#mypage_middle{
    padding: 0 35px 0 35px;
}
#mypage_menu{
    height: 70px;
    width: 1050px;
    list-style: none;
    text-align: center;
}
#mypage_menu li{
    display: inline-block;
    padding: 0 15px 0 15px;
}


/* 하단영역 */
#mypage_bottom{
    padding: 0 35px 0 35px;
}
#mypage_bottom h2{
	margin-left: 30px;
}
#mypage_lec_ing, #mypage_lec_showen, #mypage_lec_reco{
    display: inline-block;
    height: 440px;
    width: 1010px;
    margin: 0 60px 0 60px;
    text-align: center;
}
#mypage_lec_ing{
    
}
#mypage_lec_showen{
    
}
#mypage_lec_reco{
    
}
.mypage_lec, .mypage_lec_img, .mypage_lec_des, .mypage_lec_title{
    width: 320px;   /*임시로 사이즈 지정 후에 260으로 바꿔야됨.*/;
    margin: 0px auto;
}
.mypage_lec{
    border: 1px solid black;
    height: 320px;
    /*margin: 20px;*/
    display: inline-block;
	box-sizing: border-box;
}
.mypage_lec_img{
/*     border: 1px solid black; */
    height: 200px;
}
.mypage_lec_title{
    border: 1px solid black;
    height: 50px;
    font-size: 18px;
    padding-top: 20px;
}
.mypage_lec_des{
    border: 1px solid black;
    height: 90px;
    padding-top: 25px;
}
.mypage_top_side h3{
	float: left;
	font-size: 20px;
	margin-left: 60px;
	margin-bottom: 30px;
}
.mypage_top_side div{
	float: right;
	margin-right: 60px;
}






