/* 래퍼 */
#paymentSendEmail_wrapper {
	width: 1200px;
	height: 1000px;
	margin: 0px auto;
}

/* 타이틀과 서브 타이틀 */
.paymentSendEmail_box {
	padding: 15px 0px 15px 0px;
	position: relative;
	bottom: 23px;
}

.paymentSendEmail_subtitle {
	float: right;
	position: relative;
	bottom: 22px;
}

.paymentSendEmail_order_finish {
	color: black;
}

.paymentSendEmail_basket, .paymentSendEmail_order_sheet {
	color: gray;
}

a:link {
	color: black;
}

.LecFly_logo {
	display: block;
	margin: 0px auto;
}

.paymentSendEmail_tag {
	text-align: center;
}

/* 전체 테이블 묶음 */
.goods_apply_table, .goods_transfer_table, .goods_deliveryInfo_table,
	.goods_deliveryInfo_table, .goods_sellerInfo_table,
	.goods_servicecenter_table, .goods_h_tag, .paymentSendEmail_h1,
	.paymentSendEmail_tag {
	margin: 0px auto;
	padding: 30px 0px 30px 0px;
	width: 800px;
}

/* 각 테이블 구현 */
.goods_apply_table {
	text-align: left;
	border-top: solid black;
}

.goods_transfer_table {
	border-top: 1px solid lightgray;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

.goods_deliveryInfo_table {
	border: 1px solid lightgray;
}

.goods_deliveryInfo_color {
	color: orangered;
}

.goods_sellerInfo_table {
	border: 1px solid lightgray;
}

.goods_servicecenter_table {
	border-bottom: 3px solid black;
}

/* 홈페이지로 리다이렉트 구간 */
.paymentSendEmail_homepage_tag {
	border-radius: 2px;
	color: orange;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background: orange;
	border: 1px solid orange;
	padding: 10px;
	color: orangered;
	text-decoration: none;
}

.paymentSendEmail_padding_bottom {
	padding-bottom: 20px;
}