#paymentDetail_wrapper {
    width: 1200px;
	min-height: 800px;
    margin: 0px auto;
    font-weight: bold;
}

.paymentDetail_title {
    padding-left: 200px;
}

.paymentDetail_legend {
    padding: 15px 0px 15px 0px;
    font-weight: bold;
    font-size: 20px;
    border-top: 5px solid lightgray;
}

#paymentDetail_success, #paymentDetail_deliveryInfo, #paymentDetail_purchaseGoods {
    margin: 0px auto;
    width: 800px;
    padding: 15px 0px 15px 0px ;
}

#paymentDetail_deliveryInfo {
    padding-top: 0px; 
    padding-bottom: 15px;
}

.paymentDetail_success_td {
	padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.paymentDetail_success_td_right {
    text-align: right;
    padding: 5px 5px 5px 0px ;
}

.paymentDetail_success_printReceipt {
    text-align: center;
    border: 1px solid lightgray;
    height: 50px;
    background-color: lightgrey;
    font-weight: bold;
}

#delivery_changeBnt {
    float: right;
    position: relative;
    top: -35px;
}

.paymentDetail_delivery_td {
    padding: 5px 5px 5px 0px ;
}

.paymentDetail_purchaseGoods_img {
    width: 200px;
}