/* 래퍼 */
#paymentFinished_wrapper {
	width: 1200px;
	min-height: 800px;
	margin: 0px auto;
}

/* 타이틀과 서브 타이틀 */
.paymentFinished_title_box {
	padding: 15px;
	position: relative;
	bottom: 23px;
}

.paymentFinished_subtitle {
	float: right;
	position: relative;
	bottom: 22px;
}

span.order_finish {
	color: black;
}

span.basket, span.order_sheet {
	color: gray;
}

#paymentFinished_content {
	width: 1200px;
	margin: 40px auto;
}

#paymentFinishied_sentence_font_color {
	color: orange;
}

.paymentFinished_sentence {
	text-align: center;
	margin-bottom: 15px;
}

.paymentFinished_table, .banner_space, .paymentFinished_button {
	margin: 0px auto;
}

.paymentFinished_table {
	line-height: 25px;
	border: 2px solid lightgray;
	width: 800px;
}

.paymentFinished_table_td {
	border: 2px solid black;
	height: 50px;
}

.paymentFinished_table_td_bc {
	background-color: lightgray;
	text-align: center;
}

ul, li {
	list-style: none;
}

.slide {
	height: 300px;
	overflow: hidden;
	margin: 15px;
}

.slide ul {
	margin: 0px auto;
	position: relative;
	width: 800px;
	height: 200px;
}

.img_box {
	width: 800px;
	height: 200px;
}

.slide li {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	animation: fade 30s infinite;
}

.slide li:nth-child(1) {
	background: #fff;
	animation-delay: 0s
}

.slide li:nth-child(2) {
	background: #faa;
	animation-delay: 8s
}

.slide li:nth-child(3) {
	background: #afa;
	animation-delay: 16s
}

.slide li:nth-child(4) {
	background: #aaf;
	animation-delay: 24s
}

@
keyframes fade { 0% {
	opacity: 0;
}

5%
{
opacity
:
1;
}
25%
{
opacity
:
1;
}
30%
{
opacity
:
0;
}
100%
{
opacity
:
0;
}
}
#paymentFinished_button {
	text-align: center;
	position: relative;
	top: -100px;
}

.paymentFinished_orderPage, .paymentFinished_goHomePage {
	width: 100px;
	height: 40px;
}

/*::selection 슈도 영역잡기*/