@charset "UTF-8";

#receiveBoard_wrapper {
	margin: 0px auto;
	padding: 20px;
	width: 1200px;
	min-height: 700px;
	font-size: 16px;
}

#receiveBoard_content {
	margin: 0px auto;
	padding: 30px;
	width: 900px;
	/* border: 1px solid black; */
}
#receiveBoard_button {
	width: 900px;
}
#receiveBoard_button >#prevqna_button {
	width: 50px;
	height: 20px;
	float: left;
	margin: 0px 5px 20px 30px;
}
#receiveBoard_button >#nextqna_button{
	width: 50px;
	height: 20px;
	float: left;
	margin: 0px 5px 20px 10px;
}
#receiveBoard_button >#listqna_button {
	width: 100px;
	height: 20px;
	float: right;
	margin: 0px 30px 20px 20px;
}
.receiveBoard_content_title {
	font-size: 18px;
	padding: 15px 0px 15px 0px;
	border-top: 1px dashed #999999;
	border-bottom: 1px dashed #999999;
}

.divider {
	color: #666666;
}

.receiveBoard_category {
	text-decoration: none;
	font-size: 15px;
	color: orange;
}

/* .receiveBoard_category:hover {
	color: #ff4400;
} */

.titleRight {
	font-size: 15px;
	color: #666666;
	float: right;
}
.member_profile_small_img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}
.receiveBorad_login {
	font-size: 16px;
	color: black;
}
.receiveBorad_grade {
	font-size: 14px;
	color: grey;
}

#writeInfo {
	padding-top: 5px;
}

.readLeft {
	float: left;
}

#receiveBoard_articleBody {
	padding: 30px 15px;
	min-height: 500px;
	clear: both;
}

#reply_count, #reply_selection, #reply_select,
	#receiveBoard_article_count, #receiveBoard_article_like,
	#receiveBoard_article_like {
	display: inline-block;
}

#reply_select {
	border-style: none;
}

#receiveBoard_bottom {
	background-color: lightgray;
	padding: 15px;
	margin-top: 15px;
}

.counter {
	font-size: 12px;
	color: #666666;
	position: relative;
}

.reply_statusBox {
	width: 680px;
	height: 40px;
	margin-bottom: 10px;
	font-size: 14px;
}

#receiveBoard_submit {
	float: right;
	position: relative;
	width: 100px;
	height: 40px;
}

.posts {
	clear: both;
	list-style: none;
	padding-left: 0;
	width: 100%;
	text-align: left;
}

.posts li {
	width: 650px;
	/* background-color: #fff; */
	/* border: 1.5px solid #d8d8d8; */
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	/* margin-bottom: 5px; */
	word-wrap: break-word;
	min-height: 30px;
	/* box-shadow: 8px 8px 5px #888888; */
}