@font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
    margin: 0px auto;
    font-family: 'Cafe24Simplehae', sans-serif;
}

/* header */

#header {
    padding: 15px;
    width: 1170px;
    min-width: 1050px;
    height: 70px;
    text-align: right;
}

#header > h1 {
    text-align: left;
}

h1 > img {
    width: 50px;
    height: 50px;
}

/* 레퍼 ( nav, content 포함) */

#register_wrapper {
    width: 1200px;
}

/* nav */

#register_nav {
    width: 800px;
    height: inherit;
    float: left;
    display: inline-block;
}

#register_nav > video {
    padding: 15px 15px 15px 15px;
    width: 774px;
    height: 400px;
}

#register_nav > ul {
    list-style: none;
}

#register_nav > ul li {
    font-size: 18pt;
    display: inline;
    letter-spacing: 3px;
}

#register_nav > ul li a {
    text-decoration: none;
}

#register_nav > ul li a:hover {
    text-decoration: underline;
}

#register_nav > h1 {
    display: inline;
    padding-left: 10px;
    background-color: orange;
}

#lec {
    text-align: left;
    font-size: 12pt;
    min-height: 350px;
    letter-spacing: 3px;
    line-height: 20px;
    white-space: pre-line;
}

.soap_img {
    display: inline-block;
    text-align: center;
    padding: 25px;
    width: 350px;
    height: 250px;
    float: left;
}

#box, #box2, #box3, #box4, #box5, #box6 {
    margin: 15px;
    padding: 15px;
    width: 195px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    clear: both;
}

table#tb {
    margin: 15px;    
    width: 750px;
    font-weight: bold;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid lightgray;
    padding: 15px;
}

.tb_num {
    color: red;
}

#wri {
    padding: 15px;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 20px;
    white-space: pre-line;
}

#wri_name {
    text-align: right;
}

#register_review {
    text-align: left;
    margin: 15px;
    white-space: pre-line;
}

.review_name, .review_week {
    font-weight: normal;
    font-weight: bold;
}

.review_week {
    color: blue;
}

#register_review a {
    text-decoration: none;
    color: gray;
    }

#register_review a.on {
    color: orange;
    }

input[type=date] {
    border: none;
    background-color: lightgray;
    color: orange;
}
textarea {
    margin: 10px;
    border-radius: 5px;
    width: 700px;
}
input[value=입력] {
    position: relative;
    bottom: 46px;
    height: 82px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    background-color: gray;
}

#content {
    width: 375px;
    height: 500px;
    display: inline-block;
    position: fixed;
    top: 110px;
}

.count_num {
    color: orange;
}

#content > ul li {
    display: inline-block;
    background-color: darkgray;
    font-weight: bold;
    font-size: 15pt;
    
}

#content .kit_select {
    font-weight: bold;
    font-size: 15pt;
}

#content .kit_select:hover {
    color: white;
}

#content .kit_info {
    font-weight: bold;
    float: right;
}

#content .kit_info:hover {
    color: white;
}

#content #soap {
    font-size: 15pt;
    border-radius: 5px;
    width: 250px;
}

#soap_title {
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-weight: bold;
    background-color: darkgray;
    float: right;
}

#soap_title:hover {
    color: white;
}

.like_num {
    position: relative;
    top: 10px;
    font-size: 12pt;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    
}

.like_num:hover {
    color: red;
}

.lec_pick {
    display: block;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-weight: bold;
    background-color: darkgray;
    float: right;
    width: 250px;
    text-align: center;
}

.lec_pick:hover {
    color: white;
}

#warning {
    text-align: center;
    color: red;
}

#lec_register {
    display: block;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-weight: bold;
    background-color: darkgray;
    float: right;
    width: 357px;
    text-align: center;
}

#lec_register:hover {
    color: white;
}

#register_footer {
    margin: auto;
    padding: 50px 100px 100px 100px;
    width: 1000px;
    height: 50px;
    background-color: orange;
    clear: both;
}
