@charset "UTF-8";

/* 검색결과 파트 */
.sort {
	display: inline;
	display: flex;
	float: right;
	
}

.sort li select {
	font-size: 1.3em;
	margin-right: 30px;
	padding: 20px 0;
}

.search_wrapper {
	margin:0 auto;
	width:1200px;
}
.search_top {
	margin: 15px 0 30px 15px;
	display: inline;
}
.search_title {
	margin: 15px 0px 15px 0px;
	display:inline-block;
}
.search_result {
	text-align: center;
	display: grid;
	margin-top: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 300px;
	grid-gap: 40px;
	margin-bottom: 100px;
}
.search_result_count {
	display:inline-block;
	color: #ffa172;
	font-size: 1.4em;
	padding: 20px 0;
}